.iblock-vote table {
	border:none;
	border-collapse:collapse;
}

.iblock-vote table td {
	margin:0px;
	padding:0px;
	vertical-align:middle;
}

.iblock-vote td.vote-result {
	font-size:11px;
	color:#a7a7a7;
	padding:0px 0px 0px 5px !important;
}

.iblock-vote div.star-active {
	cursor:pointer;
}

.iblock-vote div.star,
.iblock-vote div.star-empty {
	background:url(./images/star-ico.png) left top no-repeat;
	width:16px;
	height:15px;
	overflow:hidden;
}

.iblock-vote div.star-voted {
	background:url(./images/star-ico.png) left -15px no-repeat;
	width:16px;
	height:15px;
	overflow:hidden;
}

.iblock-vote div.star-over {
	background:url(./images/star-ico.png) left -30px no-repeat;
	width:16px;
	height:15px;
	overflow:hidden;
}