.cart-items div.equipment-order.detail .thead .cart-item-number,
.cart-items div.equipment-order.detail .thead .cart-item-date,
.cart-items div.equipment-order.detail .thead .cart-item-status,
.cart-items div.equipment-order.detail .thead .cart-item-payment,
.cart-items div.equipment-order.detail .thead .cart-item-payed,
.cart-items div.equipment-order.detail .thead .cart-item-summa {
	height:30px;
	display:table-cell;
	vertical-align:middle;
	padding:0px;
	font:normal 13px/1.3 Arial;
	color:#838383;
	text-align:left;
}

.cart-items div.equipment-order.detail .thead .cart-item-number {
	width:31px;
	padding:0px 0px 0px 15px;
}

.cart-items div.equipment-order.detail .thead .cart-item-date {
	width:118px;
}

.cart-items div.equipment-order.detail .thead .cart-item-status {
	width:102px;
}

.cart-items div.equipment-order.detail .thead .cart-item-payment {
	width:116px;
}

.cart-items div.equipment-order.detail .thead .cart-item-payed {
	width:78px;
}

.cart-items div.equipment-order.detail .thead .cart-item-summa {
	width:485px;
	padding:0px 13px 0px 0px;
	text-align:right;
}

.cart-items div.equipment-order.detail .tbody .tr,
.cart-items div.equipment-order.detail .tbody .tr_into {
	height:auto;
}

.cart-items div.equipment-order.detail .tbody .tr_into {
	display:table;
	table-layout:fixed;
}

.cart-items div.equipment-order.detail .tbody .cart-item-number,
.cart-items div.equipment-order.detail .tbody .cart-item-date,
.cart-items div.equipment-order.detail .tbody .cart-item-status,
.cart-items div.equipment-order.detail .tbody .cart-item-payment,
.cart-items div.equipment-order.detail .tbody .cart-item-payed,
.cart-items div.equipment-order.detail .tbody .cart-item-summa {
	height:auto;
	display:table-cell;
	vertical-align:top;
	padding:12px 5px 12px 0px;
	font:normal 13px/1.3 Arial;
	color:#616161;
	text-align:left;
}

.cart-items div.equipment-order.detail .tbody .cart-item-number {
	width:26px;
	padding:12px 5px 12px 13px;
	word-wrap:break-word;
	color:#222;
}

.cart-items div.equipment-order.detail .tbody .cart-item-date {
	width:113px;
}

.cart-items div.equipment-order.detail .tbody .cart-item-status {
	width:97px;
}

.cart-items div.equipment-order.detail .tbody .cart-item-status span.item-status-n,
.cart-items div.equipment-order.detail .tbody .cart-item-status span.item-status-p {
	font:bold 13px/1.3 Arial;
	color:#cc9900;
}

.cart-items div.equipment-order.detail .tbody .cart-item-status span.item-status-f {
	font:bold 13px/1.3 Arial;
	color:#688123;
}

.cart-items div.equipment-order.detail .tbody .cart-item-status span.item-status-d {
	font:bold 13px/1.3 Arial;
	color:#ce0f0f;
}	

.cart-items div.equipment-order.detail .tbody .cart-item-payment {
	width:111px;
}

.cart-items div.equipment-order.detail .tbody .cart-item-payment a {
	font:bold 13px/1.3 Arial;
	color:#37414c;
	text-decoration:underline;
}

.cart-items div.equipment-order.detail .tbody .cart-item-payment a:hover {
	text-decoration:none;
}

.cart-items div.equipment-order.detail .tbody .cart-item-payed {
	width:73px;
}

.cart-items div.equipment-order.detail .tbody .cart-item-payed span.item-payed-yes {
	font:bold 13px/1.3 Arial;
	color:#688123;
}

.cart-items div.equipment-order.detail .tbody .cart-item-summa {
	width:485px;
	padding:12px 11px 12px 0px;
	font:bold 14px/1.3 Arial;
	color:#222;
	text-align:right;
}

.cart-items div.equipment-order .tbody .cart-item-name a {
	color:#222;
	text-decoration:underline;
}

.cart-items div.equipment-order .tbody .cart-item-name a:hover {
	color:#cc9900;
	text-decoration:none;
}

table.order-recipient {
	width:100%;
	margin:10px 0px 0px 0px;
	padding:0px;
	border:none;
	border-collapse:collapse;
}

table.order-recipient td {
	font:normal 13px/1.3 Arial;
	color:#616161;
	text-align:left;
	padding:3px;
	vertical-align:middle;
}

table.order-recipient td.field-name {
	font:bold 13px/1.3 Arial;
	text-align:right;
	width:160px;
}

table.order-recipient td.field-value {}

.order-item-actions {
	width:100%;
	margin:14px 0px 0px 0px;
	padding:0px;
}

.order-item-actions a.repeat {
	float:left;
	height:15px;
	margin:0px;
	padding:0px 0px 0px 21px;
	font:normal 12px/15px Arial;
	color:#727272;
	text-decoration:underline;
	background:url(./images/order_repeat.png) left top no-repeat;
}

.order-item-actions a.repeat:hover {
	text-decoration:none;
	background:url(./images/order_repeat.png) left -15px no-repeat;
}

.order-item-actions a.delete {
	float:left;
	height:15px;
	margin:0px 0px 0px 14px;
	padding:0px 0px 0px 21px;
	font:normal 12px/15px Arial;
	color:#727272;
	text-decoration:underline;
	background:url(./images/order_delete.png) left top no-repeat;
}

.order-item-actions a.delete:hover {
	text-decoration:none;
	background:url(./images/order_delete.png) left -15px no-repeat;
}


/***240px***/
@media screen and (max-width:787px) {
	.cart-items div.equipment-order.detail .thead {
		height:45px;
		display:none;
		visibility:hidden;
		padding:0px 14px 0px 15px;
	}

	.cart-items div.equipment-order.detail .thead .cart-item-number,
	.cart-items div.equipment-order.detail .thead .cart-item-date,
	.cart-items div.equipment-order.detail .thead .cart-item-status,
	.cart-items div.equipment-order.detail .thead .cart-item-payment,
	.cart-items div.equipment-order.detail .thead .cart-item-payed,
	.cart-items div.equipment-order.detail .thead .cart-item-summa {
		font:normal 12px/1.3 Arial;
	}

	.cart-items div.equipment-order.detail .thead .cart-item-number {
		width:21px;
		padding:0px 12px 0px 0px;
	}

	.cart-items div.equipment-order.detail .thead .cart-item-date {
		width:72px;
		padding:0px 12px 0px 0px;
	}

	.cart-items div.equipment-order.detail .thead .cart-item-status {
		width:79px;
		padding:0px 12px 0px 0px;
	}

	.cart-items div.equipment-order.detail .thead .cart-item-payment {
		width:76px;
	}

	.cart-items div.equipment-order.detail .thead .cart-item-payed {
		width:62px;
	}

	.cart-items div.equipment-order.detail .thead .cart-item-summa {
		width:auto;
		padding:0px;
	}

	.cart-items div.equipment-order.detail .tbody .tr_into {
		table-layout:fixed;
		padding:9px 12px 9px 13px;
	}

	.cart-items div.equipment-order.detail .tbody .cart-item-number,
	.cart-items div.equipment-order.detail .tbody .cart-item-date,
	.cart-items div.equipment-order.detail .tbody .cart-item-status,
	.cart-items div.equipment-order.detail .tbody .cart-item-payment,
	.cart-items div.equipment-order.detail .tbody .cart-item-summa {
		width:auto;
		display:block;
		padding:0px;
	}

	.cart-items div.equipment-order.detail .tbody .cart-item-number,
	.cart-items div.equipment-order.detail .tbody .cart-item-date,
	.cart-items div.equipment-order.detail .tbody .cart-item-payment {
		font:normal 12px/1.3 Arial;
	}

	.cart-items div.equipment-order.detail .tbody .cart-item-number {
		float:left;
		visibility:visible;
		margin:0px 20px 0px 0px;
		word-wrap:normal;
	}

	.cart-items div.equipment-order.detail .tbody .cart-item-date {
		float:left;
	}

	.cart-items div.equipment-order.detail .tbody .cart-item-status {
		clear:both;
	}

	.cart-items div.equipment-order.detail .tbody .cart-item-status span {
		font:bold 12px/1.3 Arial !important;
	}

	.cart-items div.equipment-order.detail .tbody .cart-item-payed {
		width:50px;
		display:none;
		visibility:hidden;
		padding:0px 12px 0px 0px;
	}

	.cart-items div.equipment-order.detail .tbody .cart-item-summa {
		visibility:visible;
		text-align:left;
	}

	@media (min-width:480px) and (max-width:787px) {
		.cart-items div.equipment-order.detail .thead {
			display:table;
			visibility:visible;
		}

		.cart-items div.equipment-order.detail .tbody .cart-item-number,
		.cart-items div.equipment-order.detail .tbody .cart-item-date,
		.cart-items div.equipment-order.detail .tbody .cart-item-status,
		.cart-items div.equipment-order.detail .tbody .cart-item-payment,
		.cart-items div.equipment-order.detail .tbody .cart-item-payed,
		.cart-items div.equipment-order.detail .tbody .cart-item-summa {
			display:table-cell;
		}

		.cart-items div.equipment-order.detail .tbody .cart-item-number {
			width:21px;
			float:none;
			margin:0px;
			padding:0px 12px 0px 0px;
			word-wrap:break-word;
		}

		.cart-items div.equipment-order.detail .tbody .cart-item-date {
			width:72px;
			float:none;
			padding:0px 12px 0px 0px;
		}

		.cart-items div.equipment-order.detail .tbody .cart-item-status {
			width:79px;
			padding:0px 12px 0px 0px;
		}

		.cart-items div.equipment-order.detail .tbody .cart-item-payment {
			width:76px;
		}

		.cart-items div.equipment-order.detail .tbody .cart-item-payed {
			visibility:visible;
		}

		.cart-items div.equipment-order.detail .tbody .cart-item-summa {
			width:auto;
			text-align:right;
		}
	}
	
	
	/***BASKET LIST***/
	.cart-items.basket div.equipment-order.basket .thead {
		padding:0px 8px 0px 15px;
	}

	.cart-items.basket div.equipment-order.basket .thead .cart-item-summa {
		display:none;
		visibility:hidden;
	}

	.cart-items.basket div.equipment-order.basket .tbody .tr_into {
		padding:9px 6px 9px 9px;
	}

	.cart-items.basket div.equipment-order.basket .tbody .cart-item-number,
	.cart-items.basket div.equipment-order.basket .tbody .cart-item-image,
	.cart-items.basket div.equipment-order.basket .tbody .cart-item-summa {
		display:none;
		visibility:hidden;
	}

	@media (min-width:480px) and (max-width:787px) {
		.cart-items.basket div.equipment-order.basket .thead {
			padding:0px 14px 0px 15px;
		}

		.cart-items.basket div.equipment-order.basket .thead .cart-item-summa {
			display:table-cell;
			visibility:visible;
		}

		.cart-items.basket div.equipment-order.basket .tbody .tr_into {
			padding:9px 12px 9px 11px;
		}

		.cart-items.basket div.equipment-order.basket .tbody .cart-item-number,
		.cart-items.basket div.equipment-order.basket .tbody .cart-item-image,
		.cart-items.basket div.equipment-order.basket .tbody .cart-item-summa {
			display:table-cell;
			visibility:visible;
		}

		.cart-items.basket div.equipment-order.basket .tbody .cart-item-name a {
			font:normal 12px/1.3 Arial;
		}
	}

	table.order-recipient td.field-name {
		padding:3px 3px 3px 13px;
	}

	table.order-recipient td.field-value {
		padding:3px 14px 3px 3px;
	}

	@media screen and (max-width:479px) {
		table.order-recipient td {
			display:block;
			font:normal 12px/1.3 Arial;
		}

		table.order-recipient td.field-name {
			width:auto;
			padding:0px 0px 0px 6px;
			font:bold 12px/1.3 Arial;
			text-align:left;
		}

		table.order-recipient td.field-value {
			padding:0px 0px 6px 6px;
		}
	}

	.order-item-actions {
		margin:11px 0px 0px 0px;
	}

	.order-item-actions a.repeat {
		margin:0px 0px 0px 2px;
	}

	@media screen and (max-width:479px) {
		.order-item-actions a.repeat,
		.order-item-actions a.delete {
			float:none;
			display:block;
			margin:0px 0px 5px 2px;
		}

		.order-item-actions a.delete {
			margin:0px 0px 0px 2px;
		}
	}
}


/***720-960px***/
@media (min-width:788px) and (max-width:1253px) {
	.cart-items div.equipment-order.detail .thead .cart-item-summa {
		width:245px;
	}

	.cart-items div.equipment-order.detail .tbody .cart-item-summa {
		width:245px;
	}
}