/***GENERAL STYLES***/
.anythingSlider{
	margin:0px;
	padding:0px;
}

.anythingSlider .anythingWindow{
	width:100%;
	height:100%;
	position:relative;
	overflow:hidden;
}

.anythingSlider .anythingBase{
	margin:0px;
	padding:0px;
	list-style:none;
	position:absolute;
	left:0px;
	top:0px;
	overflow:visible !important;
}

.anythingSlider .panel{
	float:left;
	margin:0px;
	padding:0px;
	overflow:hidden;
}

/***SLIDER***/
.anythingSlider-default{
	position:relative;
}

.anythingSlider-default .anythingWindow{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	border-radius:5px;
}

.anythingSlider-default .panel a{
	display:block;
	margin:0px;
	padding:0px;
	text-decoration:none;
}

/***SLIDER NAVIGATION LINKS***/
.anythingSlider-default .anythingControls{ 
	position:absolute;
	left:22px;
	bottom:10px;
}

.anythingSlider-default .anythingControls ul{ 
	float:left;
	margin:0px;
	padding:0px;
	list-style:none;
}

.anythingSlider-default .anythingControls ul li{ 
	float:left;
	margin:0px 2px 0px 0px;
	padding:0px;
}

.anythingSlider-default .anythingControls ul li:last-child{
	margin:0px;
}

.anythingSlider-default .anythingControls ul li a{
	width:18px;
	height:17px;
	display:block;
	margin:0px;
	padding:0px;
	background:url(control.png) left top no-repeat;
}

.anythingSlider-default .anythingControls ul li a.cur{
	background:url(control.png) left -17px no-repeat;
}

.anythingSlider-default .anythingControls ul li a span{
	display:none;
	visibility:hidden;
}

/***SLIDER NEXT_BACK LINKS***/
.anythingSlider-default .arrow.forward{ 
	width:40px;
    height:56px;
	position: absolute;
    right:-11px;
    top:50%;
	margin:-28px 0px 0px 0px;
	padding:0px;
}

.anythingSlider-default .arrow.forward a{
	width:40px;
    height:56px;
	display:block;
	margin:0px;
	padding:0px;
	text-decoration:none;
    background:url(next-hor.png) left top no-repeat;
}

.anythingSlider-default .arrow.forward a:hover{
	background:url(next-hor.png) left -56px no-repeat;
}

.anythingSlider-default .arrow.forward a span{
	display:none;
	visibility:hidden;
}

.anythingSlider-default .arrow.back{ 
	width:40px;
    height:56px;
	position:absolute;
    left:-11px;
    top:50%;
	margin:-28px 0px 0px 0px;
	padding:0px;
}

.anythingSlider-default .arrow.back a{ 
	width:40px;
    height:56px;
	display:block;
	margin:0px;
	padding:0px;
	text-decoration:none;
    background:url(prev-hor.png) left top no-repeat;
}

.anythingSlider-default .arrow.back a:hover{
	background:url(prev-hor.png) left -56px no-repeat;
}

.anythingSlider-default .arrow.back a span{
	display:none;
	visibility:hidden;
}

/***DISCOUNT NAVIGATION LINKS***/
.anythingSlider-discount-left .anythingControls{
	position:absolute;
	bottom:16px;
	left:50%;
	-moz-transform:translate(-50%, 0);
	-webkit-transform:translate(-50%, 0);
	-o-transform:translate(-50%, 0);
	-ms-transform:translate(-50%, 0);
	transform:translate(-50%, 0);
}

.anythingSlider-discount-left .anythingControls ul{ 
	float:left;
	margin:0px;
	padding:0px;
	list-style:none;
}

.anythingSlider-discount-left .anythingControls ul li{ 
	float:left;
	margin:0px 4px 0px 0px;
	padding:0px;
}

.anythingSlider-discount-left .anythingControls ul li:last-child{
	margin:0px;
}

.anythingSlider-discount-left .anythingControls ul li a{
	width:10px;
	height:10px;
	display:block;
	margin:0px;
	padding:0px;
	background:url(control_disc.png) left top no-repeat;
}

.anythingSlider-discount-left .anythingControls ul li a.cur{
	background:url(control_disc.png) left -10px no-repeat;
}

.anythingSlider-discount-left .anythingControls ul li a span{
	display:none;
	visibility:hidden;
}

/***DISCOUNT NEXT_BACK LINKS***/
.anythingSlider-discount-left .arrow.forward,
.anythingSlider-discount-left .arrow.back{
	display:none;
	visibility:hidden;
}