/* === Remove input autofocus webkit === */
*:focus {outline: none;}

/* === Form Typography === */
body {font: 14px/21px "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;}
.contact_form h2, .contact_form label {font-family: "Open Sans", sans-serif;font-size: 13px;font-weight: 400;;}
.form_hint, .required_notification {font-size: 11px;}

/* === List Styles === */
.contact_form ul {
	list-style-type:none;
	list-style-position:outside;
	margin:0px;
	padding:0px;
}
.contact_form li{
	padding:12px; 
	/*border-bottom:1px solid #eee;*/
	position:relative;
} 
.contact_form li:first-child, .contact_form li:last-child {
	/*border-bottom:1px solid #777;*/
}

/* === Form Header === */
.contact_form h2 {
	margin:0;
	display: inline;
}
.required_notification {
	color:#d45252; 
	margin:5px 0 0 0; 
	display:inline;
	float:right;
}

/* === Form Elements === */
.contact_form label {
	width:150px;
	margin-top: 3px;
	display:inline-block;
	float:left;
	padding:3px;
}
.contact_form input {
	/*	height:20px; */
	max-width:300px;
	width: 100%; 
	box-sizing: border-box;
	padding:5px 8px;
}
.contact_form textarea {padding:8px; max-width:300px;width:100%;box-sizing: border-box;}
.contact_form button {/* margin-left:156px; */}

/* form element visual styles */
.contact_form input, .contact_form textarea { 
	border:1px solid #aaa;
	box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
	border-radius:2px;
	padding-right:30px;
	-moz-transition: padding .25s; 
	-webkit-transition: padding .25s; 
	-o-transition: padding .25s;
	transition: padding .25s;
}
.contact_form input:focus, .contact_form textarea:focus {
	background: #fff; 
	border:1px solid #555; 
	box-shadow: 0 0 3px #aaa; 
	padding-right:70px;
}

/* === HTML5 validation styles === */	
.contact_form input:required, .contact_form textarea:required {
	background: #fff url('/local/components/lifenetwork/reviews/templates/.default/images/red_asterisk.png') no-repeat 98% center;
}
.contact_form input:required:valid, .contact_form textarea:required:valid {
	background: #fff url('/local/components/lifenetwork/reviews/templates/.default/images/valid.png') no-repeat 98% center;
	box-shadow: 0 0 5px #8184a1;
	border-color: #8184a1;
}
.contact_form input:focus:invalid, .contact_form textarea:focus:invalid {
	background: #fff url('/local/components/lifenetwork/reviews/templates/.default/images/invalid.png') no-repeat 98% center;
	box-shadow: 0 0 5px #d45252;
	border-color: #d45252;
}

/* === Form hints === */
.form_hint {
	background: #d45252;
	border-radius: 3px 3px 3px 3px;
	color: white;
	margin-left:8px;
	padding: 1px 6px;
	z-index: 999; /* hints stay above all other elements */
	position: absolute; /* allows proper formatting if hint is two lines */
	display: none;
}
.form_hint::before {
	content: "\25C0";
	color:#d45252;
	position: absolute;
	top:1px;
	left:-6px;
}
.contact_form input:focus + .form_hint {display: inline;}
.contact_form input:required:valid + .form_hint {background: #28921f;}
.contact_form input:required:valid + .form_hint::before {color:#28921f;}

/* === Button Style === */
button.submit {
	width: 153px;
	height: 31px;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	background: #9cc218;
	font-family:"Open Sans", sans-serif;
	font-size:11px;
	font-weight:400;
	color:#402a1d;
	text-align:center;
	text-transform:uppercase;
	border:none;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
	-webkit-transition:all 0.15s ease 0s;
	-moz-transition:all 0.15s ease 0s;
	-o-transition:all 0.15s ease 0s;
	transition:all 0.15s ease 0s;

    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    font-weight: 400;
    color: #402a1d;
    text-align: center;
    text-transform: uppercase;
    border: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    background: #fde037;
    -webkit-transition: all 0.15s ease 0s;
    -moz-transition: all 0.15s ease 0s;
    -o-transition: all 0.15s ease 0s;
    transition: all 0.15s ease 0s;
}
button.submit:hover {
	opacity:.85;
	background: #8184a1;
	color: #fff;
	cursor: pointer; 
}
button.submit:active {

	border: 1px solid #20911e;
	box-shadow: 0 0 10px 5px #356b0b inset; 
	-webkit-box-shadow:0 0 10px 5px #356b0b inset ;
	-moz-box-shadow: 0 0 10px 5px #356b0b inset;
	-ms-box-shadow: 0 0 10px 5px #356b0b inset;
	-o-box-shadow: 0 0 10px 5px #356b0b inset;
	
}




.cd-testimonials-wrapper {
	position: relative;
	width: 90%;
	max-width: 768px;
	background-color: #39393c;
	margin: 1em auto 2em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 20px 40px 70px;
	z-index: 1;
}
.cd-testimonials-wrapper::after {
	/* quotation mark */
	content: '\201C';
	position: absolute;
	top: 10px;
	left: 0;
	width: 50px;
	height: 50px;
	padding-top: 8px;
	margin-left: -25px;
	background: rgba(32, 32, 34, 0.9);
	font-family: "Georgia", serif;
	color: white;
	font-size: 70px;
	font-size: 4.375rem;
	text-align: center;
	/* visible on big devices only */
	display: none;
}
@media only screen and (min-width: 768px) {
	.cd-testimonials-wrapper {
		margin: 1em auto 4em;
		padding: 64px 50px 114px;
	}
}
@media only screen and (min-width: 1170px) {
	.cd-testimonials-wrapper::after {
		/* quotation mark visible */
		display: block;
	}
}

.cd-testimonials {
	color: white;
	text-align: center;
}
.cd-testimonials:after {
	content: "";
	display: table;
	clear: both;
}
.cd-testimonials > li {
	position: absolute;
	opacity: 0;
}
.cd-testimonials > li:first-child {
	position: relative;
	opacity: 1;
}
.cd-testimonials p {
	font-family: "Georgia", serif;
	font-style: italic;
	line-height: 1.4;
	margin-bottom: 1em;
	padding: 0 14px;
}
@media only screen and (min-width: 768px) {
	.cd-testimonials p {
		font-size: 22px;
		font-size: 1.375rem;
	}
}
@media only screen and (min-width: 1170px) {
	.cd-testimonials p {
		font-size: 26px;
		font-size: 1.625rem;
		line-height: 1.6;
	}
}

.cd-author img, .cd-author .cd-author-info {
	display: inline-block;
	vertical-align: middle;
}
.cd-author img {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	margin-right: 5px;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
.cd-author .cd-author-info {
	text-align: left;
	line-height: 1.2;
}
.cd-author .cd-author-info li:first-child {
	font-size: 14px;
	font-size: 0.875rem;
}
.cd-author .cd-author-info li:last-child {
	font-size: 12px;
	font-size: 0.75rem;
	color: #6b6b70;
}
@media only screen and (min-width: 768px) {
	.cd-author img {
		width: 50px;
		height: 50px;
	}
	.cd-author .cd-author-info {
		line-height: 1.4;
	}
	.cd-author .cd-author-info li:first-child {
		font-size: 16px;
		font-size: 1rem;
	}
	.cd-author .cd-author-info li:last-child {
		font-size: 14px;
		font-size: 0.875rem;
	}
}

.flex-direction-nav li {
	position: absolute;
	height: 100%;
	width: 40px;
	top: 0;
}
.flex-direction-nav li:first-child {
	left: 0;
}
.flex-direction-nav li:last-child {
	right: 0;
}
.flex-direction-nav li a {
	display: block;
	height: 100%;
	width: 100%;
	/* image replacement */
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	-webkit-transition: background-color 0.2s;
	-moz-transition: background-color 0.2s;
	transition: background-color 0.2s;
}
.no-touch .flex-direction-nav li a:hover {
	background-color: #323234;
}
.flex-direction-nav li a::before, .flex-direction-nav li a::after {
	/* left and right arrows in css only */
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	width: 2px;
	height: 13px;
	background-color: white;
}
.flex-direction-nav li a::before {
	-webkit-transform: translateY(-35px) rotate(45deg);
	-moz-transform: translateY(-35px) rotate(45deg);
	-ms-transform: translateY(-35px) rotate(45deg);
	-o-transform: translateY(-35px) rotate(45deg);
	transform: translateY(-35px) rotate(45deg);
}
.flex-direction-nav li a::after {
	-webkit-transform: translateY(-27px) rotate(-45deg);
	-moz-transform: translateY(-27px) rotate(-45deg);
	-ms-transform: translateY(-27px) rotate(-45deg);
	-o-transform: translateY(-27px) rotate(-45deg);
	transform: translateY(-27px) rotate(-45deg);
}
.flex-direction-nav li:last-child a::before {
	-webkit-transform: translateY(-35px) rotate(-45deg);
	-moz-transform: translateY(-35px) rotate(-45deg);
	-ms-transform: translateY(-35px) rotate(-45deg);
	-o-transform: translateY(-35px) rotate(-45deg);
	transform: translateY(-35px) rotate(-45deg);
}
.flex-direction-nav li:last-child a::after {
	-webkit-transform: translateY(-27px) rotate(45deg);
	-moz-transform: translateY(-27px) rotate(45deg);
	-ms-transform: translateY(-27px) rotate(45deg);
	-o-transform: translateY(-27px) rotate(45deg);
	transform: translateY(-27px) rotate(45deg);
}
@media only screen and (min-width: 768px) {
	.flex-direction-nav li {
		width: 50px;
	}
}
@media only screen and (min-width: 1170px) {
	.flex-direction-nav li a::before, .flex-direction-nav li a::after {
		background-color: #5e5e63;
		-webkit-transition: background-color 0.2s;
		-moz-transition: background-color 0.2s;
		transition: background-color 0.2s;
	}
	.flex-direction-nav li a:hover::before, .flex-direction-nav li a:hover::after {
		background-color: white;
	}
}

.cd-see-all {
	position: absolute;
	z-index: 1;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: #252527;
	text-align: center;
	text-transform: uppercase;
	color: #6b6b70;
	font-weight: 700;
	font-size: 12px;
	font-size: 0.75rem;
	-webkit-transition: color, 0.2s;
	-moz-transition: color, 0.2s;
	transition: color, 0.2s;
}
.no-touch .cd-see-all:hover {
	color: #79b6e4;
}


.reviews .reviews-wrapper {
	height: 100%;
	width: 100%;
	overflow: auto;
}
.cd-testimonials-item, .cd-author-info {
	list-style-type: none !important;
}
.reviews-wrapper > ul {
	width: 90%;
	max-width: 1170px;
	margin: 4em auto;
}
.reviews .reviews-wrapper > ul:after {
	content: "";
	display: table;
	clear: both;
}
.reviews p {
	position: relative;
    color: white;
    padding: 5px 10px!important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.4;
    border-radius: 0.25em;
    margin-bottom: 1em;
    background: #edeef8;
    font-size: 13px;
    color: #575b71;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px!important;
}
.reviews p::after {
	/* creating the triangle in css */
	content: '';
	position: absolute;
	top: 100%;
	left: 31px;
	height: 0;
	width: 0;
	border: 8px solid transparent;
	border-top-color: #edeef8;
}
.reviews .cd-author {
	text-align: left;
	margin-left: 1.5em;
}
.reviews .cd-author img {
	box-shadow: 0 0 0 transparent;
}
.reviews.is-visible {
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity .3s 0s, visibility 0s 0s;
	-moz-transition: opacity .3s 0s, visibility 0s 0s;
	transition: opacity .3s 0s, visibility 0s 0s;
}
.reviews.is-visible .reviews-wrapper {
	-webkit-overflow-scrolling: touch;
}
.reviews.is-visible .cd-testimonials-item {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0) scale(1);
	-moz-transform: translate3d(0, 0, 0) scale(1);
	-ms-transform: translate3d(0, 0, 0) scale(1);
	-o-transform: translate3d(0, 0, 0) scale(1);
	transform: translate3d(0, 0, 0) scale(1);
}
@media only screen and (min-width: 768px) {
	.reviews .cd-testimonials-item {
		/* width: 46%;*/
		margin: 0 2% 3em;
	}
	.reviews .cd-author {
		margin-left: 1em;
	}
}
@media only screen and (min-width: 1170px) {
	.reviews .cd-testimonials-item {
		/* width: 30%;*/
		margin: 0 1.6666% 3em;
	}
}

.close-btn {
	position: fixed;
	display: block;
	width: 40px;
	height: 40px;
	top: 10px;
	right: 5%;
	/* image replacement */
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}
.close-btn::before, .close-btn::after {
	/* close icon in css */
	content: '';
	position: absolute;
	display: inline-block;
	width: 2px;
	height: 24px;
	top: 8px;
	left: 19px;
	background-color: #39393c;
}
.close-btn::before {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.close-btn::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.bx-wrapper .bx-prev {
	left: -40px !important;
}
.bx-wrapper .bx-next {
	right: -40px !important;
}
.bx-wrapper{
	top: 50px  !important;
}
.bx-wrapper .bx-controls-direction a {
	top:70% !important;
}
.slide {
    padding: 10px;
    box-sizing: border-box;
    height: 425px;
    box-shadow: 0px 0px 10px 0px #8184a1;
}
.slide .slideImg{
	float: left;
	display: block;
	width: 100%;
}
.slide .slideImg img {
	max-width: 100%;
	width: 100%;
	margin-bottom:15px;
}
.slide .slideText {
	display: block;
	float:left;
	width: 100%;
}
.slide .slideText .slideTextUserName {
    font-weight: bold;
    color: #575b71;
    margin-bottom: 5px;
    padding: 0;
}
.slide .slideText .slideTextUserText {
	text-align: justify;
    padding: 0;
    margin-bottom:5px;
}
.slide .slideText .slideTextUserText .linkMore {
	display: inline-block;
}
.reviewsSlider .bx-wrapper {
	width: 100%;

}
.reviewsSlider .bx-wrapper .bx-viewport {
	box-shadow:none;
	border:0;
	padding: 5px;
    box-sizing: content-box;
}
.reviewsSlider h2 {
	width: 100%;
    padding: 0 40px;
    box-sizing: border-box;
}
.reviewsSlider .bx-wrapper .bx-controls-direction a {
    top: calc(50% - 16px)!important;
    margin-top: 0;
}
.reviewsSlider .bx-wrapper .bx-controls-direction a.bx-prev {
	left: -2%!important;
}
.reviewsSlider .bx-wrapper .bx-controls-direction a.bx-next {
    right: calc(-2%)!important;
}
.content {

}