.order-list .sort {
	width:100%;
	margin:0px;
	padding:0px 0px 10px 0px;
}

.order-list .sort.order .sorttext {
	font:normal 13px/1.3 Arial;
	color:#636b76;
	display:inline-block;
	margin:0px;
	padding:0px;
}

.order-list .sort.order a.sortbutton {
	font:normal 13px/1.3 Arial;
	color:#616161;
	text-decoration:none;
	display:inline-block;
	margin:0px 0px 0px 13px;
	padding:0px;
	border-bottom:1px dashed #616161;
}

.order-list .sort.order a.sortbutton:hover {
	border-bottom:1px dashed transparent;
}

.order-list .sort.order a.sortbutton.current {
	color:#353535;
	text-decoration:none;
	padding:5px 13px;
	border-bottom:none;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
	background:#ffd113;
}

.cart-items div.equipment-order.list .thead .cart-item-number,
.cart-items div.equipment-order.list .thead .cart-item-date,
.cart-items div.equipment-order.list .thead .cart-item-status,
.cart-items div.equipment-order.list .thead .cart-item-payment,
.cart-items div.equipment-order.list .thead .cart-item-payed,
.cart-items div.equipment-order.list .thead .cart-item-summa {
	height:30px;
	display:table-cell;
	vertical-align:middle;
	padding:0px;
	font:normal 13px/1.3 Arial;
	color:#838383;
	text-align:left;
}

.cart-items div.equipment-order.list .thead .cart-item-number {
	width:27px;
	padding:0px 0px 0px 40px;
}

.cart-items div.equipment-order.list .thead .cart-item-date {
	width:118px;
}

.cart-items div.equipment-order.list .thead .cart-item-status {
	width:102px;
}

.cart-items div.equipment-order.list .thead .cart-item-payment {
	width:116px;
}

.cart-items div.equipment-order.list .thead .cart-item-payed {
	width:78px;
}

.cart-items div.equipment-order.list .thead .cart-item-summa {
	width:490px;
	padding:0px 13px 0px 0px;
	text-align:right;
}

.cart-items div.equipment-order.list .tbody .tr,
.cart-items div.equipment-order.list .tbody .tr_into {
	height:auto;
}

.cart-items div.equipment-order.list .tbody .tr:hover {
	border:1px solid #ffcd00;
	background:url(./images/bg_equipment_tbody_tr_hover.jpg) right top repeat-y;
	background:linear-gradient(to right, #ffffff 41%, #fffdc6);
	background:-webkit-linear-gradient(left, #ffffff 41%, #fffdc6);
	background:-moz-linear-gradient(left, #ffffff 41%, #fffdc6);
	background:-o-linear-gradient(left, #ffffff 41%, #fffdc6);
	background:-ms-linear-gradient(left, #ffffff 41%, #fffdc6);
}

.cart-items div.equipment-order.list .tbody .tr:hover .tr_into {
	border:1px solid #ffcd00;
}

.cart-items div.equipment-order.list .tbody .tr:hover .cart-items.basket div.equipment-order.basket .tbody .tr {
	border:1px solid #e0e3e7;
	background:url(./images/bg_equipment_tbody_tr.jpg) right top repeat-y;
	background:linear-gradient(to right, #fff 50%, #ebedee);
	background:-webkit-linear-gradient(left, #fff 50%, #ebedee);
	background:-moz-linear-gradient(left, #fff 50%, #ebedee);
	background:-o-linear-gradient(left, #fff 50%, #ebedee);
	background:-ms-linear-gradient(left, #fff 50%, #ebedee);
}

.cart-items div.equipment-order.list .tbody .tr:hover .cart-items.basket div.equipment-order.basket .tbody .tr_into {
	border:1px solid #fff;
}

.cart-items div.equipment-order.list .tbody .cart-item-plus-minus,
.cart-items div.equipment-order.list .tbody .cart-item-number,
.cart-items div.equipment-order.list .tbody .cart-item-date,
.cart-items div.equipment-order.list .tbody .cart-item-status,
.cart-items div.equipment-order.list .tbody .cart-item-payment,
.cart-items div.equipment-order.list .tbody .cart-item-payed,
.cart-items div.equipment-order.list .tbody .cart-item-summa {
	height:auto;
	display:table-cell;
	vertical-align:top;
	padding:12px 5px 12px 0px;
	font:normal 13px/1.3 Arial;
	color:#616161;
	text-align:left;
}

.cart-items div.equipment-order.list .tbody .tr_into_in {
	width:100%;
	display:table;
	table-layout:fixed;
	margin:0px;
	padding:0px;
}

.cart-items div.equipment-order.list .tbody .cart-item-plus-minus {
	width:33px;
}

.cart-items div.equipment-order.list .tbody .cart-item-plus-minus a {
	width:15px;
	height:15px;
	display:block;
	margin:0px 0px 0px 9px;
	padding:0px;
	text-decoration:none;
}

.cart-items div.equipment-order.list .tbody .cart-item-plus-minus a.plus {
	background:url(./images/bg_a_plus_minus.png) left top no-repeat;
}

.cart-items div.equipment-order.list .tbody .cart-item-plus-minus a.plus:hover {
	background:url(./images/bg_a_plus_minus.png) left -15px no-repeat;
}

.cart-items div.equipment-order.list .tbody .cart-item-plus-minus a.minus.active,
.cart-items div.equipment-order.list .tbody .cart-item-plus-minus a.minus.active:hover {
	background:url(./images/bg_a_plus_minus.png) left -30px no-repeat;
}

.cart-items div.equipment-order.list .tbody .cart-item-number {
	width:22px;
	color:#222;
	word-wrap:break-word;
}

.cart-items div.equipment-order.list .tbody .cart-item-date {
	width:113px;
}

.cart-items div.equipment-order.list .tbody .cart-item-status {
	width:97px;
}

.cart-items div.equipment-order.list .tbody .cart-item-status span.item-status-n,
.cart-items div.equipment-order.list .tbody .cart-item-status span.item-status-p {
	font:bold 13px/1.3 Arial;
	color:#cc9900;
}

.cart-items div.equipment-order.list .tbody .cart-item-status span.item-status-f {
	font:bold 13px/1.3 Arial;
	color:#688123;
}

.cart-items div.equipment-order.list .tbody .cart-item-status span.item-status-d {
	font:bold 13px/1.3 Arial;
	color:#ce0f0f;
}	

.cart-items div.equipment-order.list .tbody .cart-item-payment {
	width:111px;
}

.cart-items div.equipment-order.list .tbody .cart-item-payment a {
	font:bold 13px/1.3 Arial;
	color:#37414c;
	text-decoration:underline;
}

.cart-items div.equipment-order.list .tbody .cart-item-payment a:hover {
	text-decoration:none;
}

.cart-items div.equipment-order.list .tbody .cart-item-payed {
	width:73px;
}

.cart-items div.equipment-order.list .tbody .cart-item-payed span.item-payed-yes {
	font:bold 13px/1.3 Arial;
	color:#688123;
}

.cart-items div.equipment-order.list .tbody .cart-item-summa {
	width:462px;
	padding:12px 13px 12px 0px;
	font:bold 14px/1.3 Arial;
	color:#222;
	text-align:right;
}


/***BASKET LIST***/
.cart-items.basket {
	padding:0px 5px;
}

.cart-items.basket div.equipment-order.basket .thead .cart-item-name,
.cart-items.basket div.equipment-order.basket .thead .cart-item-price,
.cart-items.basket div.equipment-order.basket .thead .cart-item-quantity,
.cart-items.basket div.equipment-order.basket .thead .cart-item-summa {
	height:30px;
	display:table-cell;
	vertical-align:middle;
	padding:0px;
	font:normal 13px/1.3 Arial;
	color:#838383;
	text-align:right;
}

.cart-items.basket div.equipment-order.basket .thead .cart-item-name {
	width:671px;
	padding:0px 0px 0px 15px;
	text-align:left;
}

.cart-items.basket div.equipment-order.basket .thead .cart-item-price {
	width:100px;
}

.cart-items.basket div.equipment-order.basket .thead .cart-item-quantity {
	width:58px;
}

.cart-items.basket div.equipment-order.basket .thead .cart-item-summa {
	width:87px;
	padding:0px 13px 0px 0px;
}

.cart-items.basket div.equipment-order.basket .tbody .tr {
	width:942px;
}

.cart-items.basket div.equipment-order.basket .tbody .tr_into {
	width:940px;
}

.cart-items.basket div.equipment-order.basket .tbody .cart-item-number,
.cart-items.basket div.equipment-order.basket .tbody .cart-item-image,
.cart-items.basket div.equipment-order.basket .tbody .cart-item-name,
.cart-items.basket div.equipment-order.basket .tbody .cart-item-price,
.cart-items.basket div.equipment-order.basket .tbody .cart-item-quantity,
.cart-items.basket div.equipment-order.basket .tbody .cart-item-summa,
.cart-items.basket div.equipment-order.basket .tbody .cart-itogo,
.cart-items.basket div.equipment-order.basket .tbody .cart-allsum {
	display:table-cell;
	vertical-align:middle;
	padding:0px;
	text-align:right;
}

.cart-items.basket div.equipment-order.basket .tbody .cart-item-number {
	width:15px;
	padding:0px 0px 0px 14px;
	font:normal 13px/1.3 Arial;
	color:#a5a5a5;
	text-align:left;
}

.cart-items.basket div.equipment-order.basket .tbody .cart-item-image {
	width:42px;
	text-align:center;
}

.cart-items.basket div.equipment-order.basket .tbody .cart-item-name {
	width:613px;
	font:normal 13px/1.3 Arial;
	color:#616161;
	text-align:left;
}

.cart-items.basket div.equipment-order.basket .tbody .cart-item-name a {
	color:#222;
	text-decoration:underline;
}

.cart-items.basket div.equipment-order.basket .tbody .cart-item-name a:hover {
	color:#cc9900;
	text-decoration:none;
}

.cart-items.basket div.equipment-order.basket .tbody .cart-item-price {
	width:100px;
	font:normal 13px/1.3 Arial;
	color:#222;
}

.cart-items.basket div.equipment-order.basket .tbody .cart-item-quantity {
	width:58px;
	font:normal 13px/1.3 Arial;
	color:#222;
}

.cart-items.basket div.equipment-order.basket .tbody .cart-item-summa {
	width:87px;
	padding:0px 11px 0px 0px;
	font:normal 13px/1.3 Arial;
	color:#222;
	text-align:right;
}

.cart-items.basket div.equipment-order.basket .tbody .cart-itogo {
	width:613px;
	padding:0px 0px 0px 71px;
	font:normal 13px/1.3 Arial;
	color:#616161;
	text-align:left;
}

.cart-items.basket div.equipment-order.basket .tbody .cart-allsum {
	width:245px;
	padding:0px 11px 0px 0px;
	font:normal 13px/1.3 Arial;
	color:#222;
}

.cart-items.basket div.equipment-order.basket .myorders_itog {
	width:942px;
	background:#fff;
}

.cart-items.basket div.equipment-order.basket .myorders_itog .cart-itogo {
	width:715px;
	padding:0px 0px 0px 71px;
	font:normal 13px/1.3 Arial;
	color:#616161;
	text-align:right;
}

.cart-items.basket div.equipment-order.basket .myorders_itog .cart-allsum {
	width:145px;
	padding:0px 11px 0px 0px;
	font:bold 14px/1.3 Arial;
	color:#222;
	text-align:right;
}

table.order-recipient {
	width:100%;
	margin:10px 0px 0px 0px;
	padding:0px;
	border:none;
	border-collapse:collapse;
}

table.order-recipient td {
	font:normal 13px/1.3 Arial;
	color:#616161;
	text-align:left;
	vertical-align:middle;
}

table.order-recipient td.field-name {
	font:bold 13px/1.3 Arial;
	text-align:right;
	width:160px;
	padding:3px 3px 3px 5px;
}

table.order-recipient td.field-value {
	padding:3px 5px 3px 3px;
}

.order-item-actions {
	width:100%;
	margin:14px 0px 12px 0px;
	padding:0px;
}

.order-item-actions a.repeat {
	float:left;
	height:15px;
	margin:0px 0px 0px 9px;
	padding:0px 0px 0px 21px;
	font:normal 12px/15px Arial;
	color:#727272;
	text-decoration:underline;
	background:url(./images/order_repeat.png) left top no-repeat;
}

.order-item-actions a.repeat:hover {
	text-decoration:none;
	background:url(./images/order_repeat.png) left -15px no-repeat;
}

.order-item-actions a.delete {
	float:left;
	height:15px;
	margin:0px 0px 0px 14px;
	padding:0px 0px 0px 21px;
	font:normal 12px/15px Arial;
	color:#727272;
	text-decoration:underline;
	background:url(./images/order_delete.png) left top no-repeat;
}

.order-item-actions a.delete:hover {
	text-decoration:none;
	background:url(./images/order_delete.png) left -15px no-repeat;
}

.order-item-actions a.detail {
	float:right;
	height:15px;
	margin:0px 13px 0px 0px;
	padding:0px 0px 0px 21px;
	font:normal 12px/15px Arial;
	color:#727272;
	text-decoration:underline;
	background:url(./images/order_detail.png) left top no-repeat;
}

.order-item-actions a.detail:hover {
	text-decoration:none;
	background:url(./images/order_detail.png) left -15px no-repeat;
}


/***240px***/
@media screen and (max-width:787px) {
	.order-list .sort.order .sorttext {
		display:none;
		visibility:hidden;
	}

	.order-list .sort.order a.sortbutton {
		margin:0px 13px 0px 0px;
	}

	.order-list .sort.order a.sortbutton:last-child {
		margin:0px;
	}

	.cart-items div.equipment-order.list .thead {
		height:45px;
		display:none;
		visibility:hidden;
		padding:0px 11px 0px 13px;
	}

	.cart-items div.equipment-order.list .thead .cart-item-number,
	.cart-items div.equipment-order.list .thead .cart-item-date,
	.cart-items div.equipment-order.list .thead .cart-item-status,
	.cart-items div.equipment-order.list .thead .cart-item-payment,
	.cart-items div.equipment-order.list .thead .cart-item-payed,
	.cart-items div.equipment-order.list .thead .cart-item-summa {
		font:normal 12px/1.3 Arial;
	}

	.cart-items div.equipment-order.list .thead .cart-item-number {
		width:21px;
		padding:0px 12px 0px 27px;
	}

	.cart-items div.equipment-order.list .thead .cart-item-date {
		width:72px;
	}

	.cart-items div.equipment-order.list .thead .cart-item-status {
		width:79px;
		padding:0px 12px 0px 0px;
	}

	.cart-items div.equipment-order.list .thead .cart-item-payment {
		width:76px;
	}

	.cart-items div.equipment-order.list .thead .cart-item-payed {
		width:62px;
	}

	.cart-items div.equipment-order.list .thead .cart-item-summa {
		width:auto;
		padding:0px;
	}

	.cart-items div.equipment-order.list .tbody .tr_into {
		display:block;
		padding:9px 5px;
	}

	.cart-items div.equipment-order.list .tbody .tr_into_in {
		width:100%;
		display:table;
		table-layout:fixed;
	}

	.cart-items div.equipment-order.list .tbody .cart-item-plus-minus {
		padding:0px;
	}

	.cart-items div.equipment-order.list .tbody .cart-item-plus-minus a {
		margin:0px 0px 0px 6px;
	}

	.cart-items div.equipment-order.list .tbody .cart-item-number,
	.cart-items div.equipment-order.list .tbody .cart-item-date,
	.cart-items div.equipment-order.list .tbody .cart-item-status,
	.cart-items div.equipment-order.list .tbody .cart-item-payment,
	.cart-items div.equipment-order.list .tbody .cart-item-summa {
		width:auto;
		display:block;
		padding:0px;
	}

	.cart-items div.equipment-order.list .tbody .cart-item-number,
	.cart-items div.equipment-order.list .tbody .cart-item-date,
	.cart-items div.equipment-order.list .tbody .cart-item-payment {
		font:normal 12px/1.3 Arial;
	}

	.cart-items div.equipment-order.list .tbody .cart-item-number {
		float:left;
		visibility:visible;
		margin:0px 20px 0px 0px;
		word-wrap:normal;
	}

	.cart-items div.equipment-order.list .tbody .cart-item-date {
		float:left;
	}

	.cart-items div.equipment-order.list .tbody .cart-item-status {
		clear:both;
	}

	.cart-items div.equipment-order.list .tbody .cart-item-status span {
		font:bold 12px/1.3 Arial !important;
	}

	.cart-items div.equipment-order.list .tbody .cart-item-payed {
		width:50px;
		display:none;
		visibility:hidden;
		padding:0px 12px 0px 0px;
	}

	.cart-items div.equipment-order.list .tbody .cart-item-summa {
		visibility:visible;
		text-align:left;
	}

	@media (min-width:480px) and (max-width:787px) {
		.cart-items div.equipment-order.list .thead {
			display:table;
			visibility:visible;
		}

		.cart-items div.equipment-order.list .tbody .cart-item-number,
		.cart-items div.equipment-order.list .tbody .cart-item-date,
		.cart-items div.equipment-order.list .tbody .cart-item-status,
		.cart-items div.equipment-order.list .tbody .cart-item-payment,
		.cart-items div.equipment-order.list .tbody .cart-item-payed,
		.cart-items div.equipment-order.list .tbody .cart-item-summa {
			display:table-cell;
		}

		.cart-items div.equipment-order.list .tbody .cart-item-number {
			width:21px;
			float:none;
			margin:0px;
			padding:0px 12px 0px 0px;
			word-wrap:break-word;
		}

		.cart-items div.equipment-order.list .tbody .cart-item-date {
			width:72px;
			float:none;
		}

		.cart-items div.equipment-order.list .tbody .cart-item-status {
			width:79px;
			padding:0px 12px 0px 0px;
		}

		.cart-items div.equipment-order.list .tbody .cart-item-payment {
			width:76px;
		}

		.cart-items div.equipment-order.list .tbody .cart-item-payed {
			visibility:visible;
		}

		.cart-items div.equipment-order.list .tbody .cart-item-summa {
			width:auto;
			text-align:right;
		}
	}


	/***BASKET LIST***/
	.cart-items.basket {
		width:100%;
		margin:10px 0px 0px 0px;
		padding:0px;
	}

	.cart-items.basket div.equipment-order.basket .thead {
		height:30px;
		display:table;
		visibility:visible;
		padding:0px 8px 0px 15px;
	}

	.cart-items.basket div.equipment-order.basket .thead .cart-item-name,
	.cart-items.basket div.equipment-order.basket .thead .cart-item-price,
	.cart-items.basket div.equipment-order.basket .thead .cart-item-quantity,
	.cart-items.basket div.equipment-order.basket .thead .cart-item-summa {
		font:normal 12px/1.3 Arial;
	}

	.cart-items.basket div.equipment-order.basket .thead .cart-item-name {
		width:auto;
		padding:0px;
	}

	.cart-items.basket div.equipment-order.basket .thead .cart-item-summa {
		display:none;
		visibility:hidden;
		padding:0px;
	}

	.cart-items.basket div.equipment-order.basket .tbody .tr {
		width:100%;
	}

	.cart-items.basket div.equipment-order.basket .tbody .tr_into {
		width:100%;
		display:table;
		padding:9px 6px 9px 9px;
	}

	.cart-items.basket div.equipment-order.basket .tbody .cart-item-number,
	.cart-items.basket div.equipment-order.basket .tbody .cart-item-price,
	.cart-items.basket div.equipment-order.basket .tbody .cart-item-quantity,
	.cart-items.basket div.equipment-order.basket .tbody .cart-item-summa {
		font:normal 12px/1.3 Arial;
	}

	.cart-items.basket div.equipment-order.basket .tbody .cart-item-number {
		display:none;
		visibility:hidden;
		padding:0px;
	}

	.cart-items.basket div.equipment-order.basket .tbody .cart-item-image {
		display:none;
		visibility:hidden;
	}

	.cart-items.basket div.equipment-order.basket .tbody .cart-item-name {
		width:auto;
	}

	.cart-items.basket div.equipment-order.basket .tbody .cart-item-name a {
		font:normal 11px/1.3 Arial;
	}

	.cart-items.basket div.equipment-order.basket .tbody .cart-item-summa {
		display:none;
		visibility:hidden;
		padding:0px;
	}

	@media (min-width:480px) and (max-width:787px) {
		.cart-items.basket div.equipment-order.basket .thead {
			padding:0px 14px 0px 15px;
		}

		.cart-items.basket div.equipment-order.basket .thead .cart-item-summa {
			display:table-cell;
			visibility:visible;
		}

		.cart-items.basket div.equipment-order.basket .tbody .tr_into {
			padding:9px 12px 9px 11px;
		}

		.cart-items.basket div.equipment-order.basket .tbody .cart-item-number,
		.cart-items.basket div.equipment-order.basket .tbody .cart-item-image,
		.cart-items.basket div.equipment-order.basket .tbody .cart-item-summa {
			display:table-cell;
			visibility:visible;
		}

		.cart-items.basket div.equipment-order.basket .tbody .cart-item-name a {
			font:normal 12px/1.3 Arial;
		}
	}

	.cart-items.basket div.equipment-order.basket .tbody .cart-itogo,
	.cart-items.basket div.equipment-order.basket .tbody .cart-allsum {
		width:auto;
		padding:0px;
	}

	.cart-items.basket div.equipment-order.basket .myorders_itog {
		width:100%;
		padding:9px 6px 9px 9px;
	}

	.cart-items.basket div.equipment-order.basket .myorders_itog .cart-itogo,
	.cart-items.basket div.equipment-order.basket .myorders_itog .cart-allsum {
		width:auto;
	}

	@media (min-width:480px) and (max-width:787px) {
		.cart-items.basket div.equipment-order.basket .myorders_itog {
			padding:9px 12px 9px 11px;
		}
	}

	table.order-recipient td.field-name {
		padding:3px 3px 3px 13px;
	}

	table.order-recipient td.field-value {
		padding:3px 14px 3px 3px;
	}

	@media screen and (max-width:479px) {
		table.order-recipient td {
			display:block;
			font:normal 12px/1.3 Arial;
		}

		table.order-recipient td.field-name {
			width:auto;
			padding:0px 0px 0px 6px;
			font:bold 12px/1.3 Arial;
			text-align:left;
		}

		table.order-recipient td.field-value {
			padding:0px 0px 6px 6px;
		}
	}

	.order-item-actions {
		margin:11px 0px 3px 0px;
	}

	.order-item-actions a.repeat {
		margin:0px 0px 0px 2px;
	}

	.order-item-actions a.detail {
		margin:0px 2px 0px 0px;
	}

	@media screen and (max-width:479px) {
		.order-item-actions a.repeat,
		.order-item-actions a.delete,
		.order-item-actions a.detail {
			float:none;
			display:block;
			margin:0px 0px 5px 2px;
		}

		.order-item-actions a.detail {
			margin:0px 0px 0px 2px;
		}
	}
}


/***720-960px***/
@media (min-width:788px) and (max-width:1253px) {
	.cart-items div.equipment-order.list .thead .cart-item-summa {
		width:222px;
	}

	.cart-items div.equipment-order.list .tbody .cart-item-summa {
		width:222px;
	}

	.cart-items.basket div.equipment-order.basket .thead .cart-item-name {
		width:431px;
	}

	.cart-items.basket div.equipment-order.basket .tbody .tr {
		width:702px;
	}

	.cart-items.basket div.equipment-order.basket .tbody .tr_into {
		width:700px;
	}

	.cart-items.basket div.equipment-order.basket .tbody .cart-item-name {
		width:373px;
	}

	.cart-items.basket div.equipment-order.basket .myorders_itog {
		width:702px;
	}
}