.custom-forms-wrapper{
	float:left;
	margin:0px 5px 4px 0px;
	padding:0px;
}

.custom-forms-wrapper:last-child{
	margin:0px 0px 4px 0px;
}

.custom-forms-wrapper.checkbox .master,
.custom-forms-wrapper.radio .master{
	display:none;
}

.custom-forms-wrapper.checkbox label,
.custom-forms-wrapper.radio label{
	font:normal 13px/30px Arial;
	color:#616161;
	display:block;
	margin:0px;
	padding:0px 12px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
	cursor:pointer;
}

.colors.custom-forms-wrapper.checkbox label{
	width:26px;
	height:26px;
	border:2px solid transparent;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	-khtml-border-radius:2px;
	border-radius:2px;
	padding:0px;
}

.colors.custom-forms-wrapper.checkbox label i{
	width:24px;
	height:24px;
	display:block;
}

.colors.custom-forms-wrapper.checkbox label img,
.colors.custom-forms-wrapper.checkbox label i{
	border:1px solid #fff;
}

.custom-forms-wrapper:hover label{
	background:#d2d8db;
}

.colors.custom-forms-wrapper:hover label{
	border:2px solid #96a3a9;
}

.custom-forms-wrapper.active label,
.custom-forms-wrapper.active:hover label{
	color:#353535;
	background:#ffd113;
}

.colors.custom-forms-wrapper.active label,
.colors.custom-forms-wrapper.active:hover label{
	border:2px solid #ffcd00;
}

.custom-forms-wrapper.checkbox label.disabled,
.custom-forms-wrapper.radio label.disabled,
.custom-forms-wrapper.active label.disabled{
	color:#d2d8db;
	background:none;
	cursor:default;
}

.colors.custom-forms-wrapper.checkbox label.disabled{
	width:24px;
	height:24px;
	border:3px solid #f3f4f4;
	background:#d2d8db;
}

.colors.custom-forms-wrapper.checkbox label.disabled i,
.colors.custom-forms-wrapper.checkbox label.disabled img{
	display:none;
	visibility:hidden;
}