/***CUSTOM CSS RULES FOR YOUR SITE***/
.catalog-detail-pictures .detail_picture .time_buy_sticker {
    width: 93px;
    height: 93px;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
}
.catalog-detail-pictures .detail_picture .time_buy_sticker {
    -moz-border-radius: 4px 0px 0px 0px;
    -webkit-border-radius: 4px 0px 0px 0px;
    -khtml-border-radius: 4px 0px 0px 0px;
    border-radius: 4px 0px 0px 0px;
}

.catalog-detail-pictures .detail_picture .time_buy_figure {
    width: 0px;
    height: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.catalog-detail-pictures .detail_picture .time_buy_figure {
    border-top: 93px solid #9d06d7;
    border-right: 93px solid transparent;
}
.catalog-detail-pictures .detail_picture .time_buy_text {
    position: absolute;
    left: 9px;
    top: 15px;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.catalog-detail-pictures .detail_picture .time_buy_text {
    font-size: 11px;
    color: #fff;
    text-transform: uppercase;
}
.catalog-detail .catalog-detail-price .progress_bar_block {
    display: table;
    margin: 3px 0px 0px 0px;
    padding: 0px;
}
.catalog-detail .catalog-detail-price .progress_bar_title, .catalog-detail .catalog-detail-price .progress_bar_cont, .catalog-detail .catalog-detail-price .progress_bar_percent {
    display: table-cell;
    vertical-align: baseline;
    margin: 0px;
    padding: 0px;
}
.catalog-detail .catalog-detail-price .progress_bar_title, .catalog-detail .catalog-detail-price .progress_bar_percent {
    font-size: 12px;
    color: #a0a4bc;
}
.catalog-detail .catalog-detail-price .progress_bar_cont {
    padding: 0px 7px;
}
.catalog-detail .catalog-detail-price .progress_bar_bg {
    width: 113px;
    height: 6px;
    position: relative;
    overflow: hidden;
}
.catalog-detail .catalog-detail-price .progress_bar_bg {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    background: #dee0ee;
}
.catalog-detail .catalog-detail-price .progress_bar_line {
    height: 6px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.catalog-detail .catalog-detail-price .progress_bar_line {
    background: #f6bc00;
}
.catalog-detail .time_buy_cont {
    width: 100%;
    height: 43px;
    display: table;
    margin: 0px 0px 5px 0px;
    padding: 0px;
}
.catalog-detail .time_buy_cont {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    background: #575b71;
}
.catalog-detail .time_buy_clock {
    width: 45px;
    padding: 0px 0px 0px 5px;
}
.catalog-detail .time_buy_clock, .catalog-detail .time_buy_timer {
    display: table-cell;
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
	text-align:right;
}
.catalog-detail .time_buy_clock i {
    font-size: 29px;
    color: #fff;
}
.catalog-detail .time_buy_clock, .catalog-detail .time_buy_timer {
    display: table-cell;
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
}
.catalog-detail .time_buy_timer .countdown-row {
    width: 100%;
    display: table;
    margin: 0px;
    padding: 0px;
}
.catalog-detail .time_buy_timer .countdown-show4 .countdown-section {
    width: 25%;
}
.catalog-detail .time_buy_timer .countdown-section {
    display: table-cell;
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
}
.catalog-detail .time_buy_timer .countdown-section {
    text-align: center;
}
.catalog-detail .time_buy_timer .countdown-amount {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}
.catalog-detail .time_buy_timer .countdown-period {
    display: block;
    margin: -4px 0px 0px 0px;
    padding: 0px;
}
.catalog-detail .time_buy_timer .countdown-period {
    font-size: 12px;
    color: #a0a4bc;
}
.catalog-detail .catalog-detail-buy{
	width:209px;
	position:relative;
}
.catalog-detail .buy_more_detail .qnt_cont{
	position:absolute;
	top:0;
	left:-95px;
}
.catalog-detail .buy_more_detail button[name="add2basket"], .catalog-detail .buy_more_detail small.result, .catalog-detail .buy_more_detail .apuo_detail{
	margin-left:0;
}
@media (max-width: 1253px){
.catalog-detail .catalog-detail-price .progress_bar_block {
    margin: 3px auto 0px;
}
.leaveapplication_anch{
    text-align: center;
    display: block;
}
.catalog-detail .time_buy_cont {
    width: 209px;
    margin: -3px auto 10px;
}
.catalog-detail .buy_more_detail .qnt_cont{
	position:static;
}
.catalog-detail .catalog-detail-buy{
	margin:7px auto 0 auto;
}
}
.catalog-item-card .item-image .time_buy_sticker {
    width: 93px;
    height: 93px;
    position: absolute;
    left: -15px;
    top: -30px;
    overflow: hidden;
}
.catalog-item-card .item-image .time_buy_sticker {
    -moz-border-radius: 4px 0px 0px 0px;
    -webkit-border-radius: 4px 0px 0px 0px;
    -khtml-border-radius: 4px 0px 0px 0px;
    border-radius: 4px 0px 0px 0px;
}
.catalog-item-card .item-image .time_buy_figure {
    width: 0px;
    height: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.catalog-item-card .item-image .time_buy_figure {
    border-top: 93px solid #9d06d7;
    border-right: 93px solid transparent;
}
.catalog-item-card .item-image .time_buy_text {
    position: absolute;
    left: 9px;
    top: 15px;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.catalog-item-card .item-image .time_buy_text {
    font-size: 11px;
    color: #fff;
    text-transform: uppercase;
}
.catalog-item-card .item_time_buy_cont {
    height: 58px;
    margin: 12px 0px 0px 0px;
    padding: 0px;
}
.catalog-item-card .item_time_buy {
    margin: 0px;
    padding: 0px;
    position: relative;
    top: -4px;
}
.catalog-item-card .progress_bar_block {
    display: table;
    margin: 0px;
    padding: 0px;
}
.catalog-item-card .progress_bar_title, .catalog-item-card .progress_bar_cont, .catalog-item-card .progress_bar_percent {
    display: table-cell;
    vertical-align: baseline;
    margin: 0px;
    padding: 0px;
}
.catalog-item-card .progress_bar_title, .catalog-item-card .progress_bar_percent {
    font-size: 12px;
    color: #a0a4bc;
}
.catalog-item-card .progress_bar_cont {
    padding: 0px 7px !important;
}
.catalog-item-card .progress_bar_title, .catalog-item-card .progress_bar_cont, .catalog-item-card .progress_bar_percent {
    display: table-cell;
    vertical-align: baseline;
    margin: 0px;
    padding: 0px;
}
.catalog-item-card .progress_bar_bg {
    width: 113px;
    height: 6px;
    position: relative;
    overflow: hidden;
}
.catalog-item-card .progress_bar_bg {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    background: #dee0ee;
}
.catalog-item-card .progress_bar_line {
    height: 6px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.catalog-item-card .progress_bar_line {
    background: #f6bc00;
}
.catalog-item-card .progress_bar_title, .catalog-item-card .progress_bar_cont, .catalog-item-card .progress_bar_percent {
    display: table-cell;
    vertical-align: baseline;
    margin: 0px;
    padding: 0px;
}
.catalog-item-card .progress_bar_title, .catalog-item-card .progress_bar_percent {
    font-size: 12px;
    color: #a0a4bc;
}
.catalog-item-card .time_buy_cont {
    width: 100%;
    height: 43px;
    display: table;
    margin: 3px 0px 0px 0px;
    padding: 0px;
}
.catalog-item-card .time_buy_cont {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    background: #575b71;
}
.catalog-item-card .time_buy_clock {
    width: 45px;
    padding: 0px 0px 0px 5px;
}
.catalog-item-card .time_buy_clock, .catalog-item-card .time_buy_timer {
    display: table-cell;
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
}
.catalog-item-card .time_buy_clock {
    text-align: center;
}
.catalog-item-card .time_buy_clock i {
    font-size: 29px;
    color: #fff;
}
.catalog-item-card .time_buy_clock i {
    font-size: 29px;
    color: #fff;
}
.catalog-item-card .time_buy_timer .countdown-row {
    width: 100%;
    display: table;
    margin: 0px;
    padding: 0px;
}
.catalog-item-card .time_buy_timer .countdown-show4 .countdown-section {
    width: 25%;
}
.catalog-item-card .time_buy_timer .countdown-section {
    display: table-cell;
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
}
.catalog-item-card .time_buy_timer .countdown-section {
    text-align: center;
}
.catalog-item-card .time_buy_timer .countdown-amount {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}
.catalog-item-card .time_buy_timer .countdown-amount{
	font-size: 18px;
    font-weight: 700;
    color: #fff;
}
.catalog-item-card .time_buy_timer .countdown-section {
    text-align: center;
}
.catalog-item-card .time_buy_timer .countdown-period {
    display: block;
    margin: -4px 0px 0px 0px;
    padding: 0px;
}
.catalog-item-card .time_buy_timer .countdown-period {
    font-size: 12px;
    color: #a0a4bc;
}
.catalog-item-card.item-tb {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
	height:499px;
}
.catalog-item-card.item-tb:hover {
    position: relative;
}
.catalog-item-card.item-tb:hover {
    border: 1px solid transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.catalog-item-card.item-tb .catalog-item-info {
    -webkit-transition: border-color 0.15s ease 0s, -webkit-box-shadow 0.15s ease 0s, background-color 0.15s ease 0s;
    -moz-transition: border-color 0.15s ease 0s, -moz-box-shadow 0.15s ease 0s, background-color 0.15s ease 0s;
    -o-transition: border-color 0.15s ease 0s, -o-box-shadow 0.15s ease 0s, background-color 0.15s ease 0s;
    transition: border-color 0.15s ease 0s, box-shadow 0.15s ease 0s, background-color 0.15s ease 0s;
}
.catalog-item-card.item-tb .buy_more {
    position: absolute;
    left: -9999px;
    opacity: 0;
}
.catalog-item-card.item-tb .buy_more {
    -webkit-transition: opacity 0.15s ease 0s;
    -moz-transition: opacity 0.15s ease 0s;
    -o-transition: opacity 0.15s ease 0s;
    transition: opacity 0.15s ease 0s;
}
.catalog-item-card.item-tb:hover .buy_more {
    position: static;
    opacity: 1;
}
.catalog-item-card.item-tb:hover .catalog-item-info {
    width: 238px;
    height: auto;
    position: absolute;
    left: -1px;
    top: -1px;
    z-index: 600;
}
.catalog-item-card.item-tb:hover .catalog-item-info {
    border: 2px solid #fde037;
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.36);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.36);
    background: #fff;
}
.catalog-item-price-view .item_time_buy {
    position: static !important;
    display: table-cell;
    vertical-align: middle;
    margin: 0px;
    padding: 0px 15px 0px 8px;
}
.catalog-item .item_time_buy {
    width: 138px;
    position: absolute;
    right: 18px;
    top: 27px;
}
.catalog-item-price-view .progress_bar_bg {
    display: none;
    visibility: hidden;
}
.catalog-item .progress_bar_bg {
    width: 100%;
    height: 6px;
    margin: 0px;
    padding: 0px;
    position: relative;
    overflow: hidden;
}
.catalog-item .progress_bar_bg {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    background: #dee0ee;
}
.catalog-item .progress_bar_line {
    height: 6px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.catalog-item .progress_bar_line {
    background: #f6bc00;
}
.catalog-item-price-view .time_buy_cont {
    margin: 0px;
}
.catalog-item .time_buy_cont {
    width: 100%;
    height: 30px;
    display: table;
    margin: 4px 0px 0px 0px;
    padding: 0px;
}
.catalog-item .time_buy_cont {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    background: #575b71;
}
.catalog-item .time_buy_clock {
    width: 28px;
    padding: 0px 0px 0px 3px;
}
.catalog-item .time_buy_clock, .catalog-item .time_buy_timer {
    display: table-cell;
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
}
.catalog-item .time_buy_clock {
    text-align: center;
}
.catalog-item .time_buy_clock i {
    font-size: 19px;
    color: #fff;
}
.catalog-item .time_buy_clock, .catalog-item .time_buy_timer {
    display: table-cell;
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
}
.catalog-item .time_buy_timer .countdown-row {
    width: 100%;
    display: table;
    margin: 0px;
    padding: 0px;
}
.catalog-item .time_buy_timer .countdown-show4 .countdown-section {
    width: 25%;
}
.catalog-item .time_buy_timer .countdown-section {
    display: table-cell;
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
    position: relative;
}
.catalog-item .time_buy_timer .countdown-section {
    text-align: center;
}
.catalog-item .time_buy_timer .countdown-amount {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}
.catalog-item .time_buy_timer .countdown-section {
    text-align: center;
}
.catalog-item .time_buy_timer .countdown-period {
    display: none;
    visibility: hidden;
}
.catalog-item .time_buy_timer .countdown-section {
    text-align: center;
}
.catalog-item-price-view .item-price.item-tb {
    padding: 0px;
}
.catalog-item .item-price.item-tb {
    margin: 0px;
    padding: 57px 0px 104px 0px;
}
.catalog-item-price-view .catalog-item-title.item-tb{
	width:auto;
}
.catalog-item-price-view .item-price.item-tb {
    padding: 0px;
}
.catalog-item.item-tb  .catalog-item-image .sticker-cont {
    position: absolute;
    left: -30px;
    top: -10px;
}
.catalog-item .catalog-item-image .time_buy_sticker {
    width: 93px;
    height: 93px;
    margin: -20px 0px 8px 0px;
    padding: 0px;
    position: relative;
    overflow: hidden;
}
.catalog-item .catalog-item-image .time_buy_sticker {
    -moz-border-radius: 4px 0px 0px 0px;
    -webkit-border-radius: 4px 0px 0px 0px;
    -khtml-border-radius: 4px 0px 0px 0px;
    border-radius: 4px 0px 0px 0px;
}
.catalog-item .catalog-item-image .time_buy_figure {
    width: 0px;
    height: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.catalog-item .catalog-item-image .time_buy_figure {
    border-top: 93px solid #9d06d7;
    border-right: 93px solid transparent;
}
.catalog-item .catalog-item-image .time_buy_text {
    position: absolute;
    left: 9px;
    top: 15px;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.catalog-item .catalog-item-image .time_buy_text {
    font-size: 11px;
    color: #fff;
    text-transform: uppercase;
}
.catalog-item .time_buy_timer .countdown-section:before {
    position: absolute;
    left: 0px;
    top: auto;
}
.catalog-item .time_buy_timer .countdown-section:before {
    content: ":";
    font-size: 14px;
    color: #fff;
}
@media (max-width: 1253px) and (min-width: 788px){
.catalog-item-price-view .item_time_buy {
    width: 93px;
}
.catalog-item-price-view .time_buy_cont {
    height: 25px;
}
.catalog-item-price-view .time_buy_clock {
    display: none;
    visibility: hidden;
}
.catalog-item-price-view .time_buy_timer .countdown-section:before, .catalog-item-price-view .time_buy_timer .countdown-amount {
    font-size: 11px;
}
}
.catalog-item-price-view .time_buy_timer .countdown-section:first-child:before {
    display:none;
}
@media screen and (max-width:787px){
	.catalog-item-price-view .item_time_buy{
		left:auto;
		right:204px;
		top:50%;
		bottom:auto;
		margin:-20px 0px 0px 0px;			
	}

	.catalog-item-price-view .progress_bar_bg{
		display:block;
		visibility:visible;
	}

	.catalog-item-price-view .time_buy_cont{
		margin:4px 0px 0px 0px;
	}

	.catalog-item-price-view .item-price.item-tb{
		position: absolute;
		left: 82px;
		top: 45px;
		width: 79px !important;
	}
	
	.catalog-item-price-view .catalog-item-title.item-tb,
	.catalog-item-price-view .item-price.item-tb{
		width:100%;
	}
	
	@media screen and (max-width:600px){
		.catalog-item-price-view .item_time_buy{
			position: absolute !important;
			left: 80px;
			top: 100px;
		}
		.catalog-item-price-view .catalog-item-title.item-tb{
			height:125px;
		}
		.catalog-item-list-view .item_time_buy{
			position: absolute !important;
			left: 85px;
			top: 75px;
		}
		.catalog-item-list-view .item-price.item-tb{
			height:80px;
		}
		.catalog-item-table-view .item_time_buy_cont{
			position: absolute !important;
			left: 85px;
			top: 75px;
		}
		.catalog-item-table-view .item-price.item-tb{
			height:80px;
		}
	}
	
	.catalog-item .catalog-item-image.item-tb .sticker-cont {
		left: auto;
		right: 0px;
		top: auto;
		bottom: 3px;
	}
	.catalog-item .catalog-item-image .time_buy_sticker {
		display: none;
		visibility: hidden;
	}
	
	.catalog-item .item_time_buy {
		width: 138px;
		float: none;
		display: table-cell;
		vertical-align: middle;
		margin: 0px;
		padding: 0px 15px 0px 0px;
		-moz-box-sizing: content-box;
		-webkit-box-sizing: content-box;
		box-sizing: content-box;
		position:static;
	}
	.catalog-item .progress_bar_bg, .catalog-item .time_buy_cont {
		width: 100%;
	}
	.catalog-item .item-price.item-tb {
		padding: 0px 10px 0px 0px;
		width:auto;
	}
	.catalog-item-card .item-image .time_buy_sticker {
		display: none;
		visibility: hidden;
	}
	.catalog-item-card .item_time_buy_cont {
		width: 138px;
		float: none;
		display: table-cell;
		vertical-align: middle;
		margin: 0px;
		padding: 0px 15px 0px 0px;
		-moz-box-sizing: content-box;
		-webkit-box-sizing: content-box;
		box-sizing: content-box;
	}
	.catalog-item-card.item-tb,
	.catalog-item-card.item-tb:hover{
		height:84px;
		border-bottom: 1px dotted #dee0ee;
	}
	.catalog-item-card.item-tb:hover .catalog-item-info{
		width:auto;
		box-shadow:none;
		border:none;
	}
	.catalog-item-card .item_time_buy {
		width: 100%;
	}
	.catalog-item-card .progress_bar_block {
		width: 100%;
	}
	.catalog-item-card .time_buy_cont {
		height: 30px;
		margin: 4px 0px 0px 0px;
	}
	.catalog-item-card .time_buy_clock {
		width: 28px;
		padding: 0px 0px 0px 3px;
	}
	.catalog-item-card .time_buy_clock i {
		font-size: 19px;
	}
	.catalog-item-card .time_buy_timer .countdown-section {
		position: relative;
	}
	.catalog-item-card .time_buy_timer .countdown-amount, .catalog-item-card .time_buy_timer .over {
		font-size: 14px;
		font-weight: 400;
	}
	.catalog-item-card.item-tb .buy_more {
		position: static;
		opacity: 1;
	}
	.catalog-item-card .time_buy_timer .countdown-period ,
	.catalog-item-card .progress_bar_title, .catalog-item-card .progress_bar_percent{
		display: none;
		visibility: hidden;
	}
	.catalog-item-card .time_buy_timer .countdown-section:after {
		position: absolute;
		left: 0px;
		top: auto;
	}
	.catalog-item-card .time_buy_timer .countdown-section:after {
		content: ":";
		font-size: 14px;
		color: #fff;
	}
	.catalog-item-card .progress_bar_cont{
		padding:0 !important;
	}
	.catalog-item-card .progress_bar_bg{
		width:100%;
	}
}