/***DISCOUNT***/
.jcarousel-skin-tango_2 .jcarousel-container-horizontal {
    width:203px;
    padding:0px;
}

.jcarousel-skin-tango_2 .jcarousel-clip {
    overflow:hidden;
}

.jcarousel-skin-tango_2 .jcarousel-clip-horizontal {
    width:203px;
    height:257px;
}

.jcarousel-skin-tango_2 .jcarousel-item-horizontal {
    width:201px;
	height:255px;
	position:relative;
	margin:0px !important;
	padding:0px !important;
	text-indent:0px !important;
	border:1px solid #e0e3e7;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
}

.jcarousel-skin-tango_2 .jcarousel-item-horizontal:before {
	content:none !important;
}

.jcarousel-skin-tango_2 .jcarousel-item-horizontal img {
	-moz-border-radius:4px 4px 0px 0px;
	-webkit-border-radius:4px 4px 0px 0px;
	-khtml-border-radius:4px 4px 0px 0px;
	border-radius:4px 4px 0px 0px;
}