.reviews-collapse {
	margin:0px 0px 20px 10px;
	padding:0px;
}

.reviews-collapse a.reviews-collapse-link {
	height:27px;
	display:table;
	margin:0px;
	padding:0px 12px;
	line-height:1.3;
}

.reviews-collapse a.reviews-collapse-link i,
.reviews-collapse a.reviews-collapse-link span{
	display:table-cell;
	vertical-align:middle;
	margin:0px;
	padding:0px;
	-webkit-transition:all 0.15s ease 0s;
	-moz-transition:all 0.15s ease 0s;
	-o-transition:all 0.15s ease 0s;
	transition:all 0.15s ease 0s;
}

.reviews-collapse a.reviews-collapse-link i{
	padding:0px 7px 0px 0px;
}


/***REVIEWS LIST***/
.comment {
	width:100%;
	float:left;
	margin:0px 0px 10px 0px;
	padding:0px 0px 10px 0px;
	border-bottom:1px dotted #dee0ee;
}

.comment .userpic {
	width:57px;
	height:57px;
	float:left;
	margin:0px 10px;
	padding:0px;
	text-align:center;
	border:1px solid #dee0ee;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
	background:#fff;
}

.comment .userpic img {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
}

.comment .text {
	width:879px;
	float:left;
}

@media screen and (max-width:1253px) {
	.comment .text {
		width:639px;
	}
}

.comment_name { 
	font-size:14px;
	font-weight:700;
	color:#575b71; 
	margin:0px; 
	padding:0px 5px 0px 0px; 
}

.comment_date { 
	font-size:11px;
	color:#a0a4bc; 
}

.comment_text { 
	width:100%;
	display:block;
	margin:10px 0px 0px 0px;
	padding:0px;
}


/***ADD REVIEW FORM***/
.review { 
	width:714px;
}

.review .container {
	width:100%;
	display:table;
	margin:0px;
	padding:0px;
	-moz-border-radius:0px 0px 6px 6px;
	-webkit-border-radius:0px 0px 6px 6px;
	-khtml-border-radius:0px 0px 6px 6px;
	border-radius:0px 0px 6px 6px;
	overflow:hidden;
}

.review .info {
	width:178px;
	display:table-cell;
	vertical-align:middle;
	margin:0px;
	padding:20px;
	background:#fff;
}

.review .info .image {
	margin:0px;
	padding:0px;
	text-align:center;
}

.review .info .name {
	margin:12px 0px 0px 0px;
	padding:0px;
}

.review .review-form {
	display:table-cell;
	vertical-align:top;
	margin:0px;
	padding:20px;
}

.review #echoReviewForm {
	width:100%;
	float:left;
	margin:0px;
	padding:0px;
}

.review .row {
	width:100%;
	float:left;
	display:table;
	margin:0px 0px 5px 0px;
	padding:0px;
}

.review .row .span1 {
	width:125px;
	display:table-cell;
	vertical-align:middle;
	margin:0px;
	padding:0px;
	font-size:14px;
	color:#575b71;
	text-align:left;
}

.review .row .span2 {
	width:auto;
	display:table-cell;
	margin:0px;
	padding:0px;
	text-align:left;
}

.review .row .span2 input[type="text"] {
	width:100%;
	height:30px;
	margin:0px;
	padding:0px 9px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	font-family:"Open Sans", sans-serif;
	font-size:14px;
	color:#8184a1;
	text-align:left;
	border:1px solid #dee0ee;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
	background:#fff;
}

.review .row .span2 textarea {
	width:100%;
	min-width:100%;
	max-width:100%;
	height:122px;
	min-height:122px;
	max-height:122px;
	margin:0px;
	padding:9px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	font-family:"Open Sans", sans-serif;
	font-size:14px;
	color:#8184a1;
	border:1px solid #dee0ee;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
	background:#fff;
}

.review .row .span2 input[name="review-captcha-word"] {
	width:200px;
	float:left;
}

.review .row .span2 img {
	float:right;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
}

.review div.submit {
	width:100%;
	float:left;
	margin:9px 0px 0px 0px;
	padding:0px;
}

.review div.submit button {
	width:153px;
	height:31px;
	float:right;
	margin:0px;
	padding:0px;
}

.review span.must_auth {
	display:table-cell;
	vertical-align:top;
	margin:0px;
	padding:20px;
}


/***240px***/
@media screen and (max-width:787px) {
	.review {
		width:auto;
		margin:0px;
	}

	.review .info {
		display:none;
		visibility:hidden;
	}

	.review .review-form {
		padding:12px;
	}

	.review .row {
		margin:0px 0px 3px 0px;
	}

	.review .row .span1 {
		width:89px;
		font-size:12px;
	}

	.review .row .span2 input[type="text"] {
		height:27px;
		padding:0px 7px;
		font-size:12px;
	}

	.review .row .span2 textarea {
		height:45px;
		min-height:45px;
		max-height:45px;
		padding:7px;
		font-size:12px;
	}

	.review .row .span2 input[name="review-captcha-word"] {
		width:100px;
		margin:0px 3px 3px 0px;
	}

	.review .row .span2 img{
		height:27px;
		float:left;
	}

	.review div.submit {
		margin:6px 0px 0px 0px;
	}

	.review div.submit button {
		height:28px;
		font-size:11px;
		font-weight:400;
	}
}