div.subscription {
	width:100%;
	margin:0px;
	padding:0px;
}

div.subscription-title-inner {
	font:bold 13px/1.3 Arial;
	margin:0px;
	padding:5px;
	background:#e6e6e6;
}

div.subscription-form {
	margin:0px;
	padding:5px;
	border:1px solid #f7f7f7;
}

table.subscription-layout {
	width:100%;
	border-collapse:collapse;
}

table.subscription-layout td {
	margin:0px;
	padding:0px 0px 12px 0px;
}

table.subscription-layout td.field-name {
	width:70px;
	text-align:right;
	padding-right:7px;
}

input.subscription-email,
input.subscription-textbox { 
	width:150px;
	height:30px;
	margin:0px;
	padding:0px 10px;
	font:normal 13px/1.3 Arial;
	color:#37414c;
	text-align:left;
	border:1px solid #a0a0a0;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow:inset 2px 2px 7px rgba(0, 0, 0, 0.15);
	-moz-box-shadow:inset 2px 2px 7px rgba(0, 0, 0, 0.15);
	box-shadow:inset 2px 2px 7px rgba(0, 0, 0, 0.15);
	background:#fff;
}

input.subscription-textbox { 
	width:230px;
}

div.subscription-format {
	float:right;
	margin:0px;
	padding:0px;
}

div.subscription-rubric {
	width:100%;
	float:left;
	margin:0px 0px 12px 0px;
	padding:0px;
}

div.subscription-rubric input {
	float:left;
	margin:2px 5px 2px 0px;
	padding:0px;
}

div.subscription-rubric label {
	float:left;
	margin:0px;
	padding:0px;
}

div.subscription-rubric span {
	font:normal 11px/1.3 Arial;
	display:block;
	margin:5px 0px 0px 0px;
	padding:0px;
}

div.subscription-notes {
	width:100%;
	float:left;
	margin:0px 0px 12px 0px;
	padding:0px;
}

div.subscription-buttons {
	width:100%;
	float:left;
	margin:0px 0px -12px 0px;
	padding:0px;
}

div.subscription-buttons button[type="submit"],
div.subscription-utility button[type="submit"] {
	height:32px;
	margin:0px;
	padding:0px 19px;
}

div.subscription-utility {
	margin:0px;
	padding:5px;
}


/***240px***/
@media screen and (max-width:787px) {
	table.subscription-layout td {
		width:100%;
		display:block;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
	}

	table.subscription-layout td.field-name {
		width:auto;
		text-align:left;
		padding:0px;
	}

	table.subscription-layout td.field-form {
		display:table;
		margin:0px 0px 12px 0px;
		padding:0px;
	}

	div.subscription-format {
		float:none;
		display:table-footer-group;
	}

	input.subscription-email,
	input.subscription-textbox {
		width:100%;
		display:table-header-group;
		margin:0px 0px 12px 0px;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
	}

	div.subscription-buttons button[type="submit"],
	div.subscription-utility button[type="submit"] {
		height:28px;
		font:bold 11px/1.3 Arial;
	}
}