a:link,
a:visited {
  color: #667f11;
}
a:hover {
  color: #afd81d;
}
.header_4 .geolocation__link:hover i,
.header_4 .geolocation__link:hover span {
  color: #afd81d;
}
.city-change .bx-sls .bx-ui-sls-clear:hover {
  color: #afd81d;
}
.city-change .quick-locations__val.active {
  color: #fff;
  background: #9dc21a;
}
.top_panel .panel_2 ul.store-vertical li ul li a:hover,
.top_panel .panel_2 ul.store-vertical li ul li .text:hover a,
.top_panel .panel_2 ul.store-vertical li ul li a.root-item-selected {
  color: #afd81d;
}
.top_panel .panel_2 ul.store-vertical li ul li .showchild:hover i {
  color: #afd81d;
}
.personal-user:hover {
  border-color: #9dc21a;
}
.personal-user:hover .personal-user__title {
  color: #afd81d;
}
ul.left-menu > li:hover > a,
ul.left-menu > li.selected > a {
  color: #fff;
  border-color: #9dc21a;
  background: #9dc21a;
}
ul.left-menu > li.parent > ul.submenu,
ul.left-menu > li.parent > .catalog-section-childs,
ul.left-menu > li.parentMore > ul.submenuMore {
  border-color: #9dc21a;
}
ul.left-menu > li.parent > ul.submenu li a:hover {
  color: #afd81d;
}
ul.left-menu > li.parentMore > ul.submenuMore li a:hover {
  color: #fff;
  border-color: #9dc21a;
  background: #9dc21a;
}
.top-catalog {
  background: #9dc21a;
}
.top-catalog ul.left-menu > li > a {
  color: #fff;
}
.top-catalog ul.left-menu > li:hover > a,
.top-catalog ul.left-menu > li.selected > a {
  background: rgba(0,0,0,0.5);
}
.top-catalog ul.left-menu > li.parent > .arrow,
.top-catalog ul.left-menu > li.parentMore > .arrow {
  border-bottom-color: #9dc21a;
}
.personal-exit:hover {
  color: #fff;
  border-color: #9dc21a;
  background: #9dc21a;
}
ul.new_leader_disc li:hover {
  border-color: #9dc21a;
}
ul.new_leader_disc li:hover a .text {
  color: #afd81d;
}
.left-slider a.item-title:hover {
  color: #afd81d;
}
.left-slider .item-price .catalog-item-price {
  color: #fff;
  background: #9dc21a;
}
.vendors p.vendors-item a:hover {
  color: #afd81d !important;
}
.vendors a.all:hover {
  color: #afd81d;
}
a.news-block__item:hover .news-block__item-text,
a.reviews-block__item:hover .reviews-block__item-text {
  color: #afd81d;
}
a.news-block__all-news:hover,
a.reviews-block__all-reviews:hover {
  color: #afd81d;
}
.anythingSlider-default .anythingControls ul li a {
  border-color: #fff;
  background: #fff;
}
.anythingSlider-default .anythingControls ul li a.cur,
.anythingSlider-left-slider .anythingControls ul li a.cur {
  background: #9dc21a;
}
.anythingSlider .arrow.forward a:hover,
.anythingSlider .arrow.back a:hover {
  background: #9dc21a;
}
.anythingSlider .arrow.forward a:hover:before,
.anythingSlider .arrow.back a:hover:before {
  border-bottom-color: #809e15;
}
.anythingSlider .arrow.forward a:hover:after,
.anythingSlider .arrow.back a:hover:after {
  border-top-color: #809e15;
}
a.promotions__item:hover .promotions__item-name {
  color: #afd81d;
}
a.promotions-block__all-promotions:hover {
  color: #afd81d;
}
button[name="banners-main__item-button"]:after {
  border-left-color: #fff;
}
.tabs__tab.current:after {
  border-top-color: #9dc21a;
}
.tabs__tab:hover a,
.tabs__tab.current a {
  border-color: #9dc21a;
}
.tabs__tab.current a {
  background: #9dc21a;
}
.tabs__tab:hover a span {
  color: #afd81d;
}
.tabs__tab.current a span {
  color: #fff;
}
.tabs__box .catalog-top a.all:hover {
  color: #afd81d;
}
.catalog-item-card:hover {
  border-color: #9dc21a;
}
.catalog-item-card:hover .catalog-item-info {
  border-color: #9dc21a;
}
.catalog-item-card.item-tb:hover .catalog-item-info {
  border-color: #9dc21a;
}
.catalog-item-card .item-all-title a.item-title:hover {
  color: #afd81d;
}
.catalog-item-card .catalog-item-price-ranges:hover i {
  color: #afd81d;
}
.breadcrumb__item > .breadcrumb__link:hover {
  color: #afd81d;
}
.already_seen ul li:hover {
  border-color: #9dc21a;
}
.footer_menu ul li a:hover {
  color: #afd81d;
}
.footer-bottom__links a:hover {
  color: #afd81d;
}
.footer-bottom__design a:hover {
  color: #afd81d;
}
.foot_panel_all {
  background: #9dc21a;
}
.foot_panel {
  border-left-color: rgba(0,0,0,0.05);
  border-right-color: rgba(0,0,0,0.05);
}
.kabinet a.login_anch,
.kabinet a.personal,
.kabinet a.register,
.kabinet a.exit {
  border-right-color: rgba(0,0,0,0.05);
}
.kabinet a.login_anch:hover,
.kabinet a.personal:hover,
.kabinet a.register:hover,
.kabinet a.exit:hover {
  background: rgba(0,0,0,0.5);
}
.kabinet a.login_anch i,
.kabinet a.personal i,
.kabinet a.register i,
.kabinet a.exit i {
  color: rgba(0,0,0,0.27);
}
.kabinet a.login_anch span,
.kabinet a.personal span {
  color: #fff;
}
.kabinet a.register span {
  color: #fff;
}
.compare_line a,
.delay_line a {
  border-right-color: rgba(0,0,0,0.05);
}
.compare_line a:hover,
.delay_line a:hover {
  background: rgba(0,0,0,0.5);
}
.compare_line a i,
.delay_line a i {
  color: rgba(0,0,0,0.27);
}
.compare_line a .text,
.delay_line a .text {
  color: #fff;
}
.foot_panel_2 a.cart i {
  color: rgba(0,0,0,0.27);
}
.foot_panel_2 a.cart .text {
  color: #fff;
}
.clvr .foot_panel_2 a.cart,
.clvl .foot_panel_2 a.cart {
  border-bottom-color: rgba(0,0,0,0.05);
}
.clvr .foot_panel_2 a.cart:hover,
.clvl .foot_panel_2 a.cart:hover {
  background: rgba(0,0,0,0.5);
}
.clvr .kabinet a.login_anch,
.clvr .kabinet a.personal,
.clvr .kabinet a.register,
.clvr .kabinet a.exit,
.clvl .kabinet a.login_anch,
.clvl .kabinet a.personal,
.clvl .kabinet a.register,
.clvl .kabinet a.exit {
  border-bottom-color: rgba(0,0,0,0.05);
}
.clvr .compare_line a,
.clvr .delay_line a,
.clvl .compare_line a,
.clvl .delay_line a {
  border-bottom-color: rgba(0,0,0,0.05);
}
.news__item:hover .news__item-title,
.reviews__item:hover .reviews__item-title {
  color: #afd81d;
}
.items-section__title-wrap:hover {
  border-color: #9dc21a;
}
.items-section__title-wrap:hover .items-section__title-text {
  color: #afd81d;
  border-bottom-color: #afd81d;
}
.items-section__title-wrap:hover .items-section__title-icon {
  color: #afd81d;
}
a.tabs__link-all:hover {
  color: #afd81d;
}
.payments-section-list ul li .payment-item:hover {
  border-color: #9dc21a;
}
.vendors-section-item a:hover {
  border-color: #9dc21a;
}
.vendors-section-item a:hover .item {
  border-color: #9dc21a;
}
.vendors-section-item a:hover .item .item-title {
  color: #afd81d;
}
.catalog-section .catalog-section-title:hover a {
  color: #afd81d;
  border-color: #9dc21a;
}
.catalog-section .catalog-section-title .showchild:hover i,
.catalog-section .catalog-section-title .showsectionchild:hover i {
  color: #afd81d;
}
.catalog-section-child a:hover {
  border-color: #9dc21a;
}
.catalog-section-child a:hover .child {
  border-color: #9dc21a;
}
.catalog-section-child a:hover .child .text,
.reviews-section-child a:hover .child .text {
  color: #afd81d;
}
.catalog_item_toogle_filter .showfilter:hover {
  border-color: #9dc21a;
}
.catalog_item_toogle_filter .showfilter:hover span {
  color: #afd81d;
}
.catalog_item_toogle_filter .showfilter:hover i {
  color: #afd81d;
}
.filter form table tr td .sect__text:hover span {
  color: #afd81d;
}
.filter form table tr td .sect__text:hover + .sect__arrow i {
  color: #afd81d;
}
.filter form table tr td .sect__hint-link:hover i {
  color: #afd81d;
}
.bx_filter_select_popup ul li label.selected {
  background: #9dc21a;
}
.bx_filter_select_popup ul li label.disabled {
  color: #b7bbd3;
}
.catalog-item-view a.selected,
.catalog-item-view a.selected:hover {
  border-color: #9dc21a;
  background: #9dc21a;
}
.catalog-item:hover {
  border-color: #9dc21a;
}
.catalog-item:hover .catalog-item-info {
  border-color: #9dc21a;
}
.catalog-item .catalog-item-title a:hover {
  color: #afd81d;
}
.catalog-item .catalog-item-price-ranges:hover i {
  color: #afd81d;
}
.catalog-detail-pictures .more_photo ul li:hover {
  border-color: #9dc21a;
}
.catalog-detail .catalog-detail-gift {
  border-color: #9dc21a;
}
.catalog-detail .catalog-detail-gift:after {
  border-left-color: #9dc21a;
}
.geolocation-delivery__title a:hover span {
  color: #afd81d;
}
.geolocation-delivery-detail__option label:hover .check {
  border-color: #afd81d;
  background: #afd81d;
}
.geolocation-delivery-detail__option input:checked + label:hover .check {
  border-color: #afd81d;
}
.geolocation-delivery-detail__option label:hover .check i {
  color: #afd81d;
}
.geolocation-delivery-detail__option label:hover .check-title {
  color: #afd81d;
}
.catalog-detail .offer_block ul li.active span {
  color: #fff;
  background: #9dc21a;
}
.catalog-detail .offer_block ul.COLOR li.active span {
  border-color: #9dc21a;
}
.catalog-detail .offer_block ul li.disabled span {
  color: #b7bbd3;
}
.catalog-detail .catalog-detail-property .hint:hover i {
  color: #afd81d;
}
.catalog-detail-files-docs .files-docs-item:hover .files-docs-icon i,
.catalog-detail-files-docs .files-docs-item:hover .files-docs-name {
  color: #afd81d;
}
.set-constructor .catalog-item.added-item .catalog-item-delete a:hover {
  background: #afd81d;
}
.set-constructor .other-items-section-title:hover {
  border-color: #9dc21a;
}
.set-constructor .other-items-section-title:hover .text {
  color: #afd81d;
  border-bottom-color: #afd81d;
}
.set-constructor .other-items-section-title:hover i {
  color: #afd81d;
}
.set-constructor .other-items-section-slider-arrow .arrow-cont:hover {
  background: #9dc21a;
}
.set-constructor .other-items-section-slider-arrow .arrow-cont:hover:before {
  border-bottom-color: #809e15;
}
.set-constructor .other-items-section-slider-arrow .arrow-cont:hover:after {
  border-top-color: #809e15;
}
.compare-list-result .sort a.sortbutton.current {
  color: #fff;
  background: #9dc21a;
}
table.compare-grid td a.compare-title:hover {
  color: #afd81d;
}
.pagination ul li.active {
  border-color: #9dc21a;
  background: #9dc21a;
}
.pagination ul li.active span {
  color: #fff;
}
.scroll-up:hover {
  background-color: #afd81d;
}
.more_options .item_block .offer_block ul li.active span {
  color: #fff;
  background: #9dc21a;
}
.more_options .item_block .offer_block ul.COLOR li.active span {
  border-color: #9dc21a;
}
.more_options .item_block .offer_block ul li.disabled span {
  color: #b7bbd3;
}
.sale-personal-section__item-link:hover {
  background: #9dc21a;
}
.sale-personal-section__item-link:hover .sale-personal-section__item-icon > i,
.sale-personal-section__item-link:hover .sale-personal-section__item-title {
  color: #fff;
}
.cart-items .sort a.sortbutton.current {
  color: #fff;
  background: #9dc21a;
}
.cart-items .equipment .tbody .cart-item-name a:hover,
.cart-items .equipment-profile .tbody .cart-item-name a:hover {
  color: #afd81d;
}
.order-list .sort.order a.sortbutton.current {
  color: #fff;
  background: #9dc21a;
}
.cart-items div.equipment-order.list .tbody .tr:hover {
  border-color: #9dc21a;
}
.cart-items div.equipment-order.list .tbody .tr:hover .tr_into {
  border-color: #9dc21a;
}
.cart-items div.equipment-order.list .tbody .cart-item-plus-minus a:hover i {
  color: #afd81d;
}
.cart-items.basket div.equipment-order.basket .tbody .cart-item-name a:hover {
  color: #afd81d;
}
.cart-items div.equipment-order .tbody .cart-item-name a:hover {
  color: #afd81d;
}
.sale-acountpay-pp-company.bx-selected .sale-acountpay-pp-company-graf-container,
.sale-acountpay-pp-company.bx-selected .sale-acountpay-pp-company-graf {
  border-color: #9dc21a;
}
.sale-acountpay-pp-company.bx-selected .sale-acountpay-pp-company-checkbox label {
  border-color: #afd81d;
  background-color: #afd81d;
}
.bx-soa-location-input-container .quick-location-tag:hover {
  color: #fff;
  background: #9dc21a;
}
.bx-soa-radio-inline input:checked + .check-cont .check {
  border-color: #afd81d;
  background-color: #afd81d;
}
.bx-soa-pp-company.bx-selected .bx-soa-pp-company-graf-container,
.bx-soa-pp-company.bx-selected .bx-soa-pp-company-graf,
.bx-soa-pp-inner-ps.bx-selected .bx-soa-pp-company-graf-container,
.bx-soa-pp-inner-ps.bx-selected .bx-soa-pp-company-graf {
  border-color: #9dc21a;
}
.bx-soa-pp-company.bx-selected .bx-soa-pp-company-checkbox label,
.bx-soa-pp-inner-ps.bx-selected .bx-soa-pp-company-checkbox label {
  border-color: #afd81d;
  background-color: #afd81d;
}
.bx-soa-item-name a {
  color: #575b71;
}
.bx-soa-item-name a:hover {
  color: #afd81d;
}
.bx-soa-pickup-list-item.bx-selected {
  border-color: #9dc21a;
}
.pop-up .popup-window-close-icon:hover {
  background: #afd81d;
}
.custom-forms.active label,
.custom-forms.active:hover label {
  color: #fff;
  background: #9dc21a;
}
.colors.custom-forms.active label,
.colors.custom-forms.active:hover label {
  border-color: #9dc21a;
}
.title-search-result {
  border-color: #9dc21a;
}
.title-search-result:before {
  border-bottom-color: #9dc21a;
}
.title-search-result .search_close:hover {
  background: #9dc21a;
}
.title-search-result #catalog_search .search_all:hover {
  color: #afd81d;
}
.title-search-result .tvr_search .item_title a:hover,
.title-search-result .tvr_search .cat_title a:hover {
  color: #afd81d;
}
.style-switcher .header span:hover {
  background: #9dc21a;
}
.style-switcher .block-title a:hover i {
  color: #afd81d;
}
.option.custom-forms:hover label .check {
  border-color: #9dc21a;
  background: #9dc21a;
}
.option.custom-forms.active:hover label .check {
  border-color: #9dc21a;
  background: #fff;
}
.option.custom-forms.active:hover label .check i {
  color: #afd81d;
}
.option.custom-forms:hover label .check-title,
.option.custom-forms.active:hover label .check-title {
  color: #afd81d;
}
.btn_buy {
  color: #fff;
  background: #9dc21a;
}
.btn_buy.boc_anch_cart {
  color: #fff;
}
.btn_buy.apuo_detail {
  color: #fff;
}
.btn_buy i {
  color: #fff;
}
.btn_buy.oformit.dsbl,
.btn_buy.oformit.dsbl:hover {
  color: #a8ca30;
  background: #809e15;
}
@media screen and (max-width: 787px) {
  .clvr .foot_panel,
  .clvl .foot_panel {
    border-left-color: rgba(0,0,0,0.05);
  }
  .clvr .kabinet a.login_anch,
  .clvr .kabinet a.personal,
  .clvl .kabinet a.login_anch,
  .clvl .kabinet a.personal {
    border-right-color: rgba(0,0,0,0.05);
  }
  .clvr .compare_line a,
  .clvr .delay_line a,
  .clvl .compare_line a,
  .clvl .delay_line a {
    border-right-color: rgba(0,0,0,0.05);
  }
  .foot_panel_2 a.cart:hover {
    background: rgba(0,0,0,0.5);
  }
  .panel_1 .catalog-section-title:hover a,
  .panel_1 .catalog-section-title.active a {
    color: #fff;
  }
  .panel_1 .catalog-section-title .showsectionchild:hover i,
  .panel_1 .catalog-section-title.active .showsectionchild i {
    color: #b7bbd3;
  }
  .top_panel .panel_2 ul.store-vertical li ul li a:hover,
  .top_panel .panel_2 ul.store-vertical li ul li .text:hover a,
  .top_panel .panel_2 ul.store-vertical li ul li a.root-item-selected,
  .top_panel .panel_2 ul.store-vertical li ul li.active > .text a {
    color: #fff;
  }
  .top_panel .panel_2 ul.store-vertical li ul li .showchild:hover i,
  .top_panel .panel_2 ul.store-vertical li ul li.active > .text .showchild i {
    color: #b7bbd3;
  }
  .title-search-result .tvr_search .item_title a:hover,
  .title-search-result .tvr_search .cat_title a:hover {
    color: #afd81d !important;
  }
  .title-search-result #catalog_search .search_all:hover {
    color: #afd81d !important;
  }
  .header_4 .geolocation__link:hover span {
    color: #fff;
  }
  .catalog-item-card:hover {
    border-bottom-color: #dee0ee;
  }
  .catalog-item:hover {
    border-bottom-color: #dee0ee;
  }
  .set-constructor .catalog-item.added-item:hover {
    border-color: #9dc21a;
  }
  .set-constructor .catalog-item.added-item:hover .catalog-item-info {
    border-color: #9dc21a;
  }
}
