.order { 
	width:615px; 
	margin:0px;
	padding:0px;
}

.order .container {
	width:100%;
	display:table;
	margin:0px;
	padding:0px;
	-moz-border-radius:0px 0px 6px 6px;
	-webkit-border-radius:0px 0px 6px 6px;
	-khtml-border-radius:0px 0px 6px 6px;
	border-radius:0px 0px 6px 6px;
	overflow:hidden;
}

.order .info {
	width:178px;
	display:table-cell;
	vertical-align:middle;
	margin:0px;
	padding:20px;
	background:#fff;
}

.order .info .image {
	margin:0px;
	padding:0px;
	text-align:center;
}

.order .info .name {
	margin:12px 0px 0px 0px;
	padding:0px;
}

.order .order-form {
	display:table-cell;
	vertical-align:top;
	margin:0px;
	padding:20px;
}

.order .echo-order-form {
	width:100%;
	float:left;
	margin:0px;
	padding:0px;
}

.order .row {
	width:100%;
	float:left;
	display:table;
	margin:0px 0px 5px 0px;
	padding:0px;
}

.order .row .span1 {
	width:125px;
	display:table-cell;
	vertical-align:middle;
	margin:0px;
	padding:0px;
	font-size:14px;
	color:#575b71;
	text-align:left;
}

.order .row .span2 {
	width:auto;
	display:table-cell;
	margin:0px;
	padding:0px;
	text-align:left;
}

.order .row .span2 input[type="text"] {
	width:100%;
	height:30px;
	margin:0px;
	padding:0px 9px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	font-family:"Open Sans", sans-serif;
	font-size:14px;
	color:#8184a1;
	text-align:left;
	border:1px solid #dee0ee;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
	background:#fff;
}

.order .row .span2 textarea {
	width:100%;
	min-width:100%;
	max-width:100%;
	height:61px;
	min-height:61px;
	max-height:61px;
	margin:0px;
	padding:10px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	font-family:"Open Sans", sans-serif;
	font-size:14px;
	color:#8184a1;
	border:1px solid #dee0ee;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
	background:#fff;
}

.order .row .span2 input[name="order-captcha-word"] {
	width:100px;
	float:left;
}

.order .row .span2 img {
	float:right;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
}

.order div.submit {
	width:100%;
	float:left;
	margin:9px 0px 0px 0px;
	padding:0px;
}

.order div.submit button {
	width:153px;
	height:31px;
	float:right;
	margin:0px;
	padding:0px;
}


/***240px***/
@media screen and (max-width:787px) {
	.order {
		width:auto;
		margin:0px;
	}

	.order .info {
		display:none;
		visibility:hidden;
	}

	.order .order-form {
		padding:12px;
	}

	.order .row {
		margin:0px 0px 3px 0px;
	}

	.order .row .span1 {
		width:89px;
		font-size:12px;
	}

	.order .row .span2 input[type="text"] {
		height:27px;
		padding:0px 7px;
		font-size:12px;
	}

	.order .row .span2 textarea {
		height:45px;
		min-height:45px;
		max-height:45px;
		padding:7px;
		font-size:12px;
	}

	.order .row .span2 input[name="order-captcha-word"] {
		margin:0px 3px 3px 0px;
	}

	.order .row .span2 img{
		height:27px;
		float:left;
	}

	.order div.submit {
		margin:6px 0px 0px 0px;
	}

	.order div.submit button {
		height:28px;
		font-size:11px;
		font-weight:400;
	}
}