.boc_cart { 
	width:396px; 
	margin:0px 0px 0px -198px;
	padding:0px;
}

.boc_cart form.new_boc_cart_form {
	width:100%;
	float:left;
	margin:0px;
	padding:20px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.boc_cart span#echo_boc_cart_form {
	width:100%;
	float:left;
	margin:0px;
	padding:0px;
}

.boc_cart .row {
	width:100%;
	float:left;
	display:table;
	margin:0px 0px 5px 0px;
	padding:0px;
}

.boc_cart .row .span1 {
	width:125px;
	display:table-cell;
	vertical-align:middle;
	margin:0px;
	padding:0px;
	font-size:14px;
	color:#575b71;
	text-align:left;
}

.boc_cart .row .span2 {
	width:auto;
	display:table-cell;
	margin:0px;
	padding:0px;
	text-align:left;
}

.boc_cart .row .span2 input[type="text"] {
	width:100%;
	height:30px;
	margin:0px;
	padding:0px 9px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	font-family:"Open Sans", sans-serif;
	font-size:14px;
	color:#8184a1;
	text-align:left;
	border:1px solid #dee0ee;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
	background:#fff;
}

.boc_cart .row .span2 textarea {
	width:100%;
	min-width:100%;
	max-width:100%;
	height:61px;
	min-height:61px;
	max-height:61px;
	margin:0px;
	padding:10px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	font-family:"Open Sans", sans-serif;
	font-size:14px;
	color:#8184a1;
	border:1px solid #dee0ee;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
	background:#fff;
}

.boc_cart .row .span2 input[name="boc_captcha_word"] {
	width:100px;
	float:left;
}

.boc_cart .row .span2 img {
	float:right;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
}

.boc_cart div.submit {
	width:100%;
	float:left;
	margin:9px 0px 0px 0px;
	padding:0px;
}

.boc_cart div.submit button,
.boc_cart div.submit small.result {
	width:153px;
	height:31px;
	float:right;
	margin:0px;
	padding:0px;
}

.boc_cart div.submit small.result {
	font-size:14px;
	font-weight:700;
	line-height:31px;
}

.boc_cart .hidden {
	display:none;
}


/***240px***/
@media screen and (max-width:787px) {
	.boc_cart {
		width:auto;
		margin:0px;
	}	

	.boc_cart form.new_boc_cart_form {
		padding:12px;
	}

	.boc_cart .row {
		margin:0px 0px 3px 0px;
	}

	.boc_cart .row .span1 {
		width:89px;
		font-size:12px;
	}

	.boc_cart .row .span2 input[type="text"] {
		height:27px;
		padding:0px 7px;
		font-size:12px;
	}

	.boc_cart .row .span2 textarea {
		height:45px;
		min-height:45px;
		max-height:45px;
		padding:7px;
		font-size:12px;
	}

	.boc_cart .row .span2 input[name="boc_captcha_word"] {
		margin:0px 3px 3px 0px;
	}

	.boc_cart .row .span2 img{
		height:27px;
		float:left;
	}

	.boc_cart div.submit {
		margin:6px 0px 0px 0px;
	}

	.boc_cart div.submit button,
	.boc_cart div.submit small.result{
		height:28px;
		font-size:11px;
		font-weight:400;
	}

	.boc_cart div.submit small.result {
		line-height:28px;
	}
}