.bx-newslist {
	
}
.bx-newslist .row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.bx-newslist .row .bx-newslist-container{

}
.bx-newslist .row .bx-newslist-block {
	padding: 0;
}
.bx-newslist .bx-newslist-block .row .bx-newslist-gallery {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.bx-newslist .bx-newslist-block .row .bx-newslist-gallery .bx-newslist-gallery-item {
	
}
.bx-newslist .row .bx-newslist-block .bx-newslist-shorttext{
	margin-bottom: 20px;
}
.bx-newslist .row .bx-newslist-block .bx-newslist-maintext{
	margin-bottom: 20px;
}