.callback form.new_callback_form {
	width:100%;
	float:left;
	margin:0px;
	padding:20px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.callback span#echo_callback_form {
	width:100%;
	float:left;
	margin:0px;
	padding:0px;
}

.callback span.alertMsg.bad,
.callback span.alertMsg.good {
	width:100%;
	display:block;
	margin:0px 0px 5px 0px;
	padding:5px 10px 5px 33px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.callback .row {
	width:100%;
	float:left;
	display:table;
	margin:0px 0px 5px 0px;
	padding:0px;
}

.callback .row .span1 {
	width:108px;
	display:table-cell;
	vertical-align:middle;
	margin:0px;
	padding:0px;
	font:normal 14px/1.3 Arial;
	color:#1e1d19;
	text-align:left;
}

.callback .row .span2 {
	width:auto;
	display:table-cell;
	margin:0px;
	padding:0px;
	text-align:left;
}

.callback .row .span2 input[type="text"] {
	width:100%;
	height:24px;
	margin:0px;
	padding:0px 10px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	font:bold 14px/1.3 Arial;
	color:#1e1d19;
	text-align:left;
	border:1px solid #d7d4d1;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.15) inset;
	-moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.15) inset;
	box-shadow:0px 0px 3px rgba(0, 0, 0, 0.15) inset;
}

.callback .row .span2 textarea {
	width:100%;
	min-width:100%;
	max-width:100%;
	height:63px;
	min-height:63px;
	max-height:63px;
	margin:0px;
	padding:10px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	font:normal 14px/1.3 Arial;
	color:#1e1d19;
	border:1px solid #d7d4d1;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.15) inset;
	-moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.15) inset;
	box-shadow:0px 0px 3px rgba(0, 0, 0, 0.15) inset;
}

.callback .row .span2 input[name="callback_captcha_word"] {
	width:100%;
	margin:0px 0px 5px 0px;
}

.callback .row .span2 img {
	float:left;
}

.callback div.submit {
	width:100%;
	float:left;
	margin:8px 0px 0px 0px;
	padding:0px;
}

.callback div.submit button {
	width:147px;
	height:32px;
	float:right;
	margin:0px;
	padding:0px;
}


/***240px***/
@media screen and (max-width:787px) {
	.callback form.new_callback_form {
		padding:12px;
	}

	.callback .row {
		margin:0px 0px 3px 0px;
	}

	.callback .row .span1 {
		width:89px;
		font:normal 12px/1.3 Arial;
	}

	.callback .row .span2 input[type="text"] {
		height:25px;
		padding:0px 7px;
		font:normal 12px/1.3 Arial;
	}

	.callback .row .span2 textarea {
		height:45px;
		min-height:45px;
		max-height:45px;
		padding:7px;
		font:normal 12px/1.3 Arial;
	}

	.callback div.submit button {
		height:28px;
		font:bold 11px/1.3 Arial;
	}
}