div.mfeedback {
	width:100%;
	float:left;
	margin:0px;
	padding:0px;
}

div.mfeedback div.mf-ok-text,
div.mfeedback div.mf-err-text {
	width:100%;
	margin:0px;
	padding:0px;
}

div.mfeedback .row {
	width:100%;
	float:left;
	display:table;
	margin:0px 0px 5px 0px;
	padding:0px;
}

div.mfeedback .row .span1 {
	width:117px;
	display:table-cell;
	vertical-align:middle;
	margin:0px;
	padding:0px;
	font:normal 14px/1.3 Arial;
	color:#1e1d19;
	text-align:left;
}

div.mfeedback .row .span2 {
	width:auto;
	display:table-cell;
	margin:0px;
	padding:0px;
	text-align:left;
}

div.mfeedback .row .span2 input[type="text"] {
	width:335px;
	height:24px;
	margin:0px;
	padding:0px 10px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	font:bold 14px/1.3 Arial;
	color:#1e1d19;
	text-align:left;
	border:1px solid #d7d4d1;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.15) inset;
	-moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.15) inset;
	box-shadow:0px 0px 3px rgba(0, 0, 0, 0.15) inset;
}

div.mfeedback .row .span2 textarea {
	width:335px;
	min-width:335px;
	max-width:335px;
	height:83px;
	min-height:83px;
	max-height:83px;
	margin:0px;
	padding:10px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	font:normal 14px/1.3 Arial;
	color:#1e1d19;
	border:1px solid #d7d4d1;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.15) inset;
	-moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.15) inset;
	box-shadow:0px 0px 3px rgba(0, 0, 0, 0.15) inset;
}

div.mfeedback .row .span2 input[name="captcha_word"] {
	margin:0px 0px 5px 0px;
}

div.mfeedback .row .span2 img {
	display:block;
	border:none;
}

div.mfeedback div.submit {
	width:100%;
	float:left;
	margin:8px 0px 0px 0px;
	padding:0px;
}

div.mfeedback div.submit button {
	width:147px;
	height:32px;
	float:left;
	margin:0px 0px 0px 117px;
	padding:0px;
}


/***240px***/
@media screen and (max-width:787px) {
	div.mfeedback .row {
		margin:0px 0px 3px 0px;
	}

	div.mfeedback .row .span1 {
		width:89px;
		font:normal 12px/1.3 Arial;
	}

	div.mfeedback .row .span2 input[type="text"] {
		width:100%;
		height:25px;
		padding:0px 7px;
		font:normal 12px/1.3 Arial;
	}

	div.mfeedback .row .span2 textarea {
		width:100%;
		min-width:100%;
		max-width:100%;
		height:45px;
		min-height:45px;
		max-height:45px;
		padding:7px;
		font:normal 12px/1.3 Arial;
	}

	div.mfeedback div.submit button {
		height:28px;
		margin:0px 0px 0px 89px;
		font:bold 11px/1.3 Arial;
	}
}